Repository ermyas/sgnv2, changes with the owners that CODEOWNERS names for each.
All owners: @i9, @zhangqi021, @hezhihua81

CODEOWNERS:

# leading slash / means path from repo root
# if multiple matches, last match will take effect
# keep rules sorted by folder name

/proto/sgn/cbridge/v1/ @i9
/proto/sgn/cbridge/v1/query.proto @zhangqi021

/relayer/cbr_*.go @hezhihua81 @i9

/x/cbridge/ @i9
/x/cbridge/client/ @hezhihua81
x/cbridge/keeper/querier.go @hezhihua81

Fix executor (#865)
  executor/executor.go
  executor/gateway.go
Owners: none

Peg refund (#866)
  executor/const.go
  executor/executor.go
  executor/gateway.go
  executor/sgn.go
  executor/types/gateway.pb.go
  executor/utils.go
Owners: none

remove sgn queries from executor completely, using gateway as a proxy (#867)
  executor/executor.go
  executor/gateway.go
  executor/types/gateway.pb.go
Owners: none

Add specs for farming module
  x/farming/spec/01_concepts.md
  x/farming/spec/02_state.md
  x/farming/spec/03_messages.md
  x/farming/spec/04_events.md
  x/farming/spec/05_params.md
  x/farming/spec/README.md
Owners: none

gov spec
  x/gov/spec/01_concepts.md
  x/gov/spec/02_state.md
  x/gov/spec/03_messages.md
  x/gov/spec/04_events.md
  x/gov/spec/05_params.md
  x/gov/spec/README.md
Owners: none

Update generated docs
  docs/sgnd/sgnd_ops.md
  docs/sgnd/sgnd_ops_withdraw-cbr-fee.md
  docs/sgnd/sgnd_ops_withdraw-pegbr-fee.md
  docs/sgnd/sgnd_query.md
  docs/sgnd/sgnd_query_cbridge.md
  docs/sgnd/sgnd_query_cbridge_asset-price.md
  docs/sgnd/sgnd_query_cbridge_fee-share.md
  docs/sgnd/sgnd_query_message.md
  docs/sgnd/sgnd_query_message_exec-ctxs.md
  docs/sgnd/sgnd_query_message_message-bus.md
  docs/sgnd/sgnd_query_message_message.md
  docs/sgnd/sgnd_query_message_params.md
  docs/sgnd/sgnd_query_message_transfer.md
  docs/sgnd/sgnd_query_pegbridge.md
  docs/sgnd/sgnd_query_pegbridge_fee.md
  docs/sgnd/sgnd_tx.md
  docs/sgnd/sgnd_tx_cbridge.md
  docs/sgnd/sgnd_tx_cbridge_sign-again-relay.md
  docs/sgnd/sgnd_tx_cbridge_validator-claim-fee.md
  docs/sgnd/sgnd_tx_gov_submit-proposal.md
  docs/sgnd/sgnd_tx_gov_submit-proposal_farming-batch-add-pool.md
  docs/sgnd/sgnd_tx_gov_submit-proposal_farming-batch-adjust-reward.md
  docs/sgnd/sgnd_tx_gov_submit-proposal_message-update.md
  docs/sgnd/sgnd_tx_gov_submit-proposal_total-supply-update.md
  docs/sgnd/sgnd_tx_message.md
  docs/sgnd/sgnd_tx_pegbridge.md
  docs/sgnd/sgnd_tx_pegbridge_validator-claim-fee.md
Owners: none

Improve farming specs
  x/farming/spec/01_concepts.md
  x/farming/spec/README.md
Owners: none

Gov spec nits
  x/gov/spec/01_concepts.md
  x/gov/spec/03_messages.md
  x/gov/spec/05_params.md
Owners: none

slashing spec
  x/slashing/spec/01_concepts.md
  x/slashing/spec/02_state.md
  x/slashing/spec/03_messages.md
  x/slashing/spec/04_begin_block.md
  x/slashing/spec/05_events.md
  x/slashing/spec/06_params.md
  x/slashing/spec/README.md
Owners: none

Fix executor (#869)
  executor/chain.go
  executor/dal.go
  executor/executor.go
  executor/gateway.go
  executor/monitor.go
  executor/sgn/sgn.go
  executor/sgn/sgn_query.go
  executor/sgn/sgn_tx.go
  executor/types/const.go
  executor/types/funcs.go
  proto/sgn/message/v1/message.proto
  test/e2e/multinode/multinode_setup.go
  test/multi-node-data/executor/config/executor.toml
Owners: none

queryLiquidity (#863)
  proto/sgn/cbridge/v1/query.proto
  x/cbridge/client/cli/query.go
  x/cbridge/keeper/getset.go
  x/cbridge/keeper/grpc_querier.go
  x/cbridge/types/query.pb.go
Owners: @zhangqi021, @hezhihua81, @i9

Add a flow chart of sgn sync onchain event (#872)
  docs/sgn_sync_onchain_event.png
Owners: none

query liquidity (#871)
  x/cbridge/keeper/getset.go
Owners: @i9

staking/sync docs
  x/staking/spec/01_state.md
  x/staking/spec/02_messages.md
  x/staking/spec/03_end_block.md
  x/staking/spec/04_params.md
  x/staking/spec/README.md
  x/sync/spec/01_state.md
  x/sync/spec/02_messages.md
  x/sync/spec/03_end_block.md
  x/sync/spec/04_params.md
  x/sync/spec/README.md
Owners: none

Msg docs (#873)
  x/message/spec/01_concepts.md
  x/message/spec/02_state.md
  x/message/spec/03_messages.md
  x/message/spec/04_events.md
  x/message/spec/05_params.md
  x/message/spec/README.md
Owners: none

Specs: Fix typos
  x/message/spec/01_concepts.md
  x/message/spec/02_state.md
  x/slashing/spec/01_concepts.md
  x/slashing/spec/04_begin_block.md
  x/staking/spec/01_state.md
  x/staking/spec/03_end_block.md
  x/sync/spec/03_end_block.md
  x/sync/spec/README.md
Owners: none

Specs: Add specs for x/distribution
  x/distribution/spec/01_concepts.md
  x/distribution/spec/02_state.md
  x/distribution/spec/03_begin_block.md
  x/distribution/spec/04_messages.md
  x/distribution/spec/05_hooks.md
  x/distribution/spec/06_events.md
  x/distribution/spec/07_params.md
  x/distribution/spec/README.md
  x/distribution/types/keys.go
  x/distribution/types/msgs.go
  x/farming/spec/02_state.md
  x/farming/spec/03_messages.md
  x/farming/spec/README.md
Owners: none

ignore zeroAddr delegator (when slash happens) (#874)
  relayer/eth_puller.go
  relayer/verifier.go
Owners: none

reorg and speedup CI test (#877)
  .github/workflows/run_multinode_tests_msg.yml
  .github/workflows/run_multinode_tests_smoke.yml
  eth/bindings_pegged.go
  eth/bindings_readme.md
  eth/bindings_test_token.go
  test/common/cbr_eth.go
  test/common/cbr_sgn.go
  test/common/deployer.go
  test/common/eth.go
  test/common/framework.go
  test/common/sgnchain.go
  test/e2e/multinode/bridge_test.go
  test/e2e/multinode/cbridge_test.go
  test/e2e/multinode/message_test.go
  test/e2e/multinode/multinode_setup.go
  test/e2e/multinode/pegbridge_test.go
Owners: none

add comments in test
  test/e2e/multinode/bridge_test.go
  test/e2e/multinode/cbridge_test.go
  test/e2e/multinode/pegbridge_test.go
Owners: none

shadow variable
  test/e2e/multinode/pegbridge_test.go
Owners: none

update docs
  Makefile
  README.md
  docs/README.md
  docs/cbridge-walkthrough.md
  docs/figures/sync_event.png
  docs/relayer.md
  x/README.md
Owners: none

speedup CI tests (#879)
  test/common/constants.go
  test/common/deployer.go
  test/common/sgnchain.go
  test/e2e/multinode/bridge_test.go
  test/e2e/multinode/multinode_setup.go
Owners: none

improve multi-geth test setup (#881)
  Makefile
  docker-compose.yml
  networks/local/geth/Dockerfile
  networks/local/geth2/Dockerfile
  networks/local/geth2/wrapper.sh
  test/common/cbr_eth.go
  test/common/constants.go
  test/common/framework.go
  test/e2e/multinode/bridge_test.go
  test/e2e/multinode/multinode_setup.go
  test/multi-node-data/geth1-env/empty_password.txt
  test/multi-node-data/geth1-env/keystore/etherbase.json
  test/multi-node-data/geth1-env/mainchain_genesis.json
Owners: none

use eth transactor in testing for better concurrency and debugging (#883)
  test/common/cbr_eth.go
  test/common/constants.go
  test/common/eth.go
  test/common/framework.go
  test/common/sgnchain.go
  test/common/utils.go
  test/data/.sgnd/config/genesis.json
  test/e2e/multinode/bridge_test.go
  test/multi-node-data/node0/sgnd/config/genesis.json
  test/multi-node-data/node1/sgnd/config/genesis.json
  test/multi-node-data/node2/sgnd/config/genesis.json
  test/multi-node-data/node3/sgnd/config/genesis.json
Owners: none

x/cbridge spec docs (#875)
  x/cbridge/spec/01_concepts.md
  x/cbridge/spec/02_state.md
  x/cbridge/spec/03_messages.md
  x/cbridge/spec/04_events.md
  x/cbridge/spec/05_params.md
  x/cbridge/spec/README.md
  x/cbridge/spec/curve.png
Owners: @i9

Add mint spec
  x/cbridge/spec/01_concepts.md
  x/mint/spec/01_concepts.md
  x/mint/spec/02_state.md
  x/mint/spec/03_begin_block.md
  x/mint/spec/04_params.md
  x/mint/spec/05_events.md
  x/mint/spec/06_client.md
  x/mint/spec/README.md
Owners: @i9

update proxy support acala (#885)
  go.mod
  go.sum
Owners: none

syncer candidates (#884)
  proto/sgn/staking/v1/staking.proto
  relayer/cbridge.go
  relayer/eth_staking.go
  relayer/relayer.go
  test/e2e/multinode/bridge_test.go
  x/staking/abci.go
  x/staking/keeper/params.go
  x/staking/types/params.go
  x/staking/types/staking.pb.go
Owners: none

sync pegbr (#887)
  ops/sync.go
Owners: none

addGasEstimateRatio in testing (#890)
  test/common/eth.go
Owners: none

Add pegbridge deposit and mint flow chart (#892)
  docs/figures/pegbridge_deposit_and_mint.png
Owners: none

syncer upgrade (#888)
  app/app.go
  x/staking/keeper/migrations.go
  x/staking/module.go
Owners: none

Add pegbridge spec (#886)
  x/pegbridge/spec/01_concepts.md
  x/pegbridge/spec/02_state.md
  x/pegbridge/spec/03_messages.md
  x/pegbridge/spec/04_events.md
  x/pegbridge/spec/05_params.md
  x/pegbridge/spec/README.md
Owners: none

update doc figure
  docs/relayer.md
Owners: none

correct msg module version
  x/message/module.go
Owners: none

Validator claim staking reward (#894)
  ops/bond_validator.go
  ops/claim_reward.go
  ops/common.go
  ops/delegate.go
  ops/init_validator.go
  ops/ops.go
  ops/sync.go
  x/cbridge/client/cli/tx.go
  x/distribution/client/cli/tx.go
  x/distribution/types/staking_reward_claim_info.go
  x/pegbridge/client/cli/tx.go
Owners: @hezhihua81

Update generated docs (#899)
  docs/sgnd/sgnd_ops.md
  docs/sgnd/sgnd_ops_claim-staking-reward.md
  docs/sgnd/sgnd_tx_distribution.md
  docs/sgnd/sgnd_tx_distribution_claim-staking-reward.md
Owners: none

report_contract_addr (#896)
  proto/sgn/health/v1/health.proto
  relayer/analytics_report.go
  relayer/health.pb.go
Owners: none

increase validator sync wait time (#902)
  relayer/eth_staking.go
  relayer/operator.go
Owners: none
