Repository ermyas/sgnv2, changes with the owners that CODEOWNERS names for each.
All owners: @i9, @zhangqi021, @hezhihua81

CODEOWNERS:

# leading slash / means path from repo root
# if multiple matches, last match will take effect
# keep rules sorted by folder name

/proto/sgn/cbridge/v1/ @i9
/proto/sgn/cbridge/v1/query.proto @zhangqi021

/relayer/cbr_*.go @hezhihua81 @i9

/x/cbridge/ @i9
/x/cbridge/client/ @hezhihua81
x/cbridge/keeper/querier.go @hezhihua81

improve cbr query cli (#420)
  test/e2e/manual/localnet.go
  x/cbridge/client/cli/query.go
  x/cbridge/keeper/querier.go
  x/cbridge/types/cbridge.go
Owners: @hezhihua81, @i9

non critical err use log Warn (#421)
  relayer/cbr_verifier.go
Owners: @hezhihua81, @i9

fix (#415)
  gateway/svc/campaign.go
Owners: none

Undelegate binding (#422)
  eth/bindings.go
Owners: none

rename withdraw status (#423)
  gateway/dal/lp.go
  gateway/gateway_test.go
  gateway/svc/lp.go
  gateway/svc/transfer.go
  gateway/webapi/gateway.pb.go
  go.mod
  go.sum
  ops/sync.go
  proto/sgn/cbridge/v1/query.proto
  proto/sgn/gateway/v1/gateway.proto
  relayer/cbr_puller.go
  relayer/cbr_utils.go
  test/common/cbr_sgn.go
  x/cbridge/keeper/querier.go
  x/cbridge/types/query.pb.go
Owners: @zhangqi021, @hezhihua81, @i9

Add logs in x/distribution and x/farming (#425)
  x/distribution/keeper/msg_server.go
  x/farming/keeper/msg_server.go
Owners: none

update err and log msg (#424)
  common/errs.go
  gateway/svc/lp.go
  ops/sync.go
  relayer/cbr_onchain.go
  relayer/cbr_puller.go
  x/cbridge/keeper/msg_server.go
  x/cbridge/keeper/querier.go
  x/cbridge/types/errors.go
Owners: @hezhihua81, @i9

Refine log (#426)
  gateway/svc/campaign.go
  gateway/svc/config.go
  gateway/svc/farming.go
  gateway/svc/info.go
  gateway/svc/lp.go
  gateway/svc/staking.go
  gateway/svc/transfer.go
Owners: none

slash log nits
  go.mod
  go.sum
  x/slash/keeper/keeper.go
Owners: none

db error (#427)
  gateway/dal/lp.go
Owners: none

remove unused staking param (#428)
  proto/sgn/staking/v1/staking.proto
  test/data/.sgnd/config/genesis.json
  test/e2e/manual/data/param_change_proposal.json
  test/e2e/multinode/gov_test.go
  test/e2e/singlenode/gov_test.go
  test/multi-node-data/node0/sgnd/config/genesis.json
  test/multi-node-data/node1/sgnd/config/genesis.json
  test/multi-node-data/node2/sgnd/config/genesis.json
  test/multi-node-data/node3/sgnd/config/genesis.json
  x/staking/keeper/params.go
  x/staking/types/params.go
  x/staking/types/staking.pb.go
Owners: none

refine sync cmd
  ops/sync.go
Owners: none

refine sync cmd
  ops/sync.go
Owners: none

ops-sync: Fix checking existence of SGN address (#430)
  ops/sync.go
Owners: none

Fix farming APY calculation (#431)
  gateway/svc/info.go
Owners: none

Sync go binding based on contract PR 64 (#433)
  eth/bindings.go
  eth/cbr_binding.go
Owners: none

improve reward log (#434)
  test/e2e/multinode/staking_test.go
  x/distribution/keeper/msg_server.go
  x/distribution/types/staking_reward_claim_info.go
  x/farming/keeper/msg_server.go
  x/farming/types/reward_claim_info.go
Owners: none

7 avg apy (#429)
  gateway/dal/admin.go
  gateway/dal/schema.sql
  gateway/gateway.go
  gateway/svc/farming.go
  gateway/svc/info.go
  gateway/svc/svr.go
  go.mod
  go.sum
Owners: none

add log (#435)
  gateway/svc/info.go
Owners: none

rm apy debug log (#436)
  gateway/svc/info.go
Owners: none

go mod tidy
  go.mod
  go.sum
Owners: none

fix waiting for sgn fund (#437)
  gateway/dal/transfer.go
  gateway/dal/wrapper.go
  gateway/svc/transfer.go
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

change log (#438)
  gateway/svc/lp.go
Owners: none

filter bot from campaign leader board (#439)
  gateway/dal/admin.go
  gateway/svc/campaign.go
  gateway/utils/campaign_bots.go
Owners: none

update log level
  x/cbridge/handler.go
Owners: @i9

fix sql after filter bots (#440)
  gateway/dal/admin.go
  gateway/svc/campaign.go
Owners: none

update cbr contract binding
  eth/cbr_binding.go
Owners: none

err fix (#442)
  gateway/svc/lp.go
Owners: none

Cs tools (#441)
  gateway/svc/cs.go
  gateway/webapi/gateway.pb.go
  gateway/webapi/gateway.pb.gw.go
  go.mod
  go.sum
  proto/sgn/gateway/v1/gateway.proto
Owners: none

Expose SyncCbrEvent (#443)
  ops/sync.go
Owners: none

revert path (#444)
  gateway/webapi/gateway.pb.go
  gateway/webapi/gateway.pb.gw.go
  proto/sgn/gateway/v1/gateway.proto
Owners: none

Revert "revert path (#444)" (#445)
  gateway/webapi/gateway.pb.go
  gateway/webapi/gateway.pb.gw.go
  proto/sgn/gateway/v1/gateway.proto
Owners: none

slash disable and sig sort (#446)
  relayer/sgnchain.go
  relayer/slash.go
  test/common/sgnchain.go
  x/slash/client/cli/query.go
  x/slash/module.go
  x/slash/types/slash.go
Owners: none

Add missing iter.Close() (#447)
  x/cbridge/keeper/algos.go
Owners: @i9

log (#448)
  gateway/svc/lp.go
Owners: none

add debug log. also Close iter (#449)
  x/cbridge/keeper/algos.go
Owners: @i9

relay transaction warn log
  relayer/cbr_onchain.go
Owners: @hezhihua81, @i9

revert apy (#451)
  gateway/svc/info.go
  gateway/svc/svr.go
Owners: none

add timing debug
  gateway/svc/info.go
Owners: none

uncomment farming apy get code
  gateway/svc/info.go
Owners: none
