Repository ermyas/sgnv2, changes with the owners that CODEOWNERS names for each.
All owners: @i9, @zhangqi021, @hezhihua81

incentive_reward (#654)
  gateway/dal/incentive_rewards.go
  gateway/onchain/cbridge.go
  gateway/onchain/event_handler.go
  gateway/svc/cs.go
  relayer/cbr_onchain.go
  relayer/cbr_utils.go
Owners: @hezhihua81, @i9

change (#655)
  gateway/dal/incentive_rewards.go
Owners: none

Revert "Update Cosmos SDK to 0.44.5 (#642)"
  go.mod
  go.sum
Owners: none

change (#657)
  gateway/onchain/event_handler.go
Owners: none

change (#659)
  gateway/dal/incentive_rewards.go
Owners: none

pb (#660)
  gateway/dal/incentive_rewards.go
  gateway/gateway_test.go
Owners: none

add proxy in gateway (#658)
  gateway/onchain/cbridge.go
Owners: none

refine cs tool (#643)
  deploy.sh
  gateway/onchain/cbridge.go
  gateway/onchain/eth_query.go
  gateway/onchain/event_handler.go
  gateway/svc/cs.go
  gateway/utils/slack_util.go
Owners: none

change (#662)
  gateway/dal/incentive_rewards.go
  gateway/onchain/cbridge.go
  gateway/onchain/event_handler.go
  gateway/svc/cs.go
Owners: none

don't return err if one chain is off shelf (#663)
  x/cbridge/keeper/querier.go
Owners: @hezhihua81

logInfo (#664)
  gateway/dal/incentive_rewards.go
  gateway/onchain/event_handler.go
  x/cbridge/keeper/querier.go
Owners: @hezhihua81

addr (#666)
  gateway/svc/cs.go
Owners: none

gasTip (#665)
  gateway/onchain/event_handler.go
Owners: none

add token symbol to GetFeePercentageRequest (#651)
  gateway/onchain/event_handler.go
  gateway/onchain/sgn_query.go
  gateway/svc/transfer.go
  relayer/cbr_utils.go
Owners: @hezhihua81, @i9

fix fail to set env (#668)
  gateway/gateway.go
Owners: none

change (#671)
  gateway/svc/incentive_rewards.go
Owners: none

change (#672)
  gateway/dal/incentive_rewards.go
  gateway/onchain/event_handler.go
Owners: none

remove gateway related code from relayer (#670)
  gateway/dal/incentive_rewards.go
  gateway/dal/wrapper.go
  gateway/onchain/event_handler.go
  relayer/cbr_onchain.go
  relayer/cbr_utils.go
Owners: @hezhihua81, @i9

merge duplicated type def/utils (#676)
  common/utils.go
  eth/types.go
  eth/utils.go
  gateway/onchain/cbridge.go
  gateway/onchain/event_handler.go
  gateway/svc/cbr_price.go
  gateway/svc/config.go
  gateway/svc/cs.go
  gateway/svc/farming.go
  gateway/svc/info.go
  gateway/svc/lp.go
  gateway/svc/staking.go
  gateway/svc/svr.go
  gateway/svc/transfer.go
  gateway/utils/campaign_bots.go
  gateway/utils/hash.go
  ops/submit_relay.go
  ops/sync.go
  relayer/cbr_onchain.go
  relayer/cbr_puller.go
  test/common/cbr_eth.go
  test/common/cbr_sgn.go
  tools/kms-send/main.go
  x/cbridge/keeper/getset.go
  x/cbridge/keeper/msg_server.go
  x/cbridge/keeper/querier.go
  x/cbridge/keeper/withdraw.go
  x/cbridge/types/cbridge.go
  x/cbridge/types/keys.go
Owners: @hezhihua81, @i9

fix gateway bugs when relay-event earlier than send-event (#673)
  gateway/dal/lp.go
  gateway/dal/transfer.go
  gateway/onchain/cbridge.go
  gateway/onchain/event_handler.go
  gateway/svc/cs.go
  gateway/svc/safeguarding.go
  gateway/utils/slack_util.go
Owners: none

time (#677)
  gateway/dal/incentive_rewards.go
Owners: none

time (#678)
  gateway/dal/incentive_rewards.go
Owners: none

add max_gain_perc to cap max equal dest amount (#680)
  proto/sgn/cbridge/v1/cbridge.proto
  x/cbridge/keeper/algos.go
  x/cbridge/keeper/config.go
  x/cbridge/types/cbridge.pb.go
  x/cbridge/types/keys.go
Owners: @i9

time (#681)
  gateway/dal/incentive_rewards.go
Owners: none

restore (#685)
  gateway/onchain/cbridge.go
  gateway/onchain/event_handler.go
  gateway/svc/cs.go
Owners: none

currentBlock (#675)
  common/flags.go
  docker-compose.yml
  gateway/svc/info.go
  gateway/svc/svr.go
  gateway/webapi/gateway.pb.go
  gateway/webapi/gateway.pb.gw.go
  proto/sgn/gateway/v1/gateway.proto
  relayer/cbr_utils.go
  relayer/relayer.go
  test/data/.sgnd/config/sgn.toml
  test/multi-node-data/node0/sgnd/config/sgn.toml
  test/multi-node-data/node1/sgnd/config/sgn.toml
  test/multi-node-data/node2/sgnd/config/sgn.toml
  test/multi-node-data/node3/sgnd/config/sgn.toml
Owners: @hezhihua81, @i9

fix proto conflict
  gateway/onchain/cbridge.go
  gateway/webapi/gateway.pb.go
Owners: none

Revert "fix proto conflict"
  gateway/onchain/cbridge.go
  gateway/webapi/gateway.pb.go
Owners: none

add error code (#684)
  gateway/svc/lp.go
  gateway/svc/transfer.go
  gateway/webapi/gateway.pb.go
  go.mod
  go.sum
  proto/sgn/gateway/v1/gateway.proto
Owners: none

time (#687)
  gateway/dal/incentive_rewards.go
  gateway/svc/incentive_rewards.go
Owners: none

Revert "add max_gain_perc to cap max equal dest amount (#680)"
  proto/sgn/cbridge/v1/cbridge.proto
  x/cbridge/keeper/algos.go
  x/cbridge/keeper/config.go
  x/cbridge/types/cbridge.pb.go
  x/cbridge/types/keys.go
Owners: @i9

update-endpoint-proxy (#688)
  go.mod
  go.sum
Owners: none

add token in explorer (#690)
  explorer/util.go
Owners: none

pegbr-upgrade (#692)
  app/app.go
Owners: none

update logic sequence
  app/app.go
Owners: none

fix gateway mint (#693)
  gateway/onchain/cbridge.go
Owners: none

add max_gain_perc to cap max equal dest amount (#680) (#694)
  proto/sgn/cbridge/v1/cbridge.proto
  x/cbridge/keeper/algos.go
  x/cbridge/keeper/config.go
  x/cbridge/types/cbridge.pb.go
  x/cbridge/types/keys.go
Owners: @i9

Add EstimatedAmountFees query in pegbridge (#695)
  proto/sgn/pegbridge/v1/query.proto
  x/pegbridge/keeper/amount_fees.go
  x/pegbridge/keeper/grpc_querier.go
  x/pegbridge/types/query.pb.go
  x/pegbridge/types/query.pb.gw.go
Owners: none

add log (#697)
  gateway/svc/lp.go
  gateway/svc/safeguarding.go
Owners: none

log (#699)
  relayer/cbr_utils.go
  relayer/relayer.go
Owners: @hezhihua81, @i9

CODEOWNERS:

# leading slash / means path from repo root
# if multiple matches, last match will take effect
# keep rules sorted by folder name

/proto/sgn/cbridge/v1/ @i9
/proto/sgn/cbridge/v1/query.proto @zhangqi021

/relayer/cbr_*.go @hezhihua81 @i9

/x/cbridge/ @i9
/x/cbridge/client/ @hezhihua81
x/cbridge/keeper/querier.go @hezhihua81
