Repository ermyas/sgnv2, changes with the owners that CODEOWNERS names for each.
All owners: @i9, @zhangqi021, @hezhihua81

CODEOWNERS:

# leading slash / means path from repo root
# if multiple matches, last match will take effect
# keep rules sorted by folder name

/proto/sgn/cbridge/v1/ @i9
/proto/sgn/cbridge/v1/query.proto @zhangqi021

/relayer/cbr_*.go @hezhihua81 @i9

/x/cbridge/ @i9
/x/cbridge/client/ @hezhihua81
x/cbridge/keeper/querier.go @hezhihua81

update proxy
  go.mod
  go.sum
Owners: none

claim fee: sort by amount
  x/cbridge/client/cli/query.go
Owners: @hezhihua81

Fix farming adjust reward proposal handler (#945)
  proto/sgn/farming/v1/farming.proto
  x/farming/client/cli/tx.go
  x/farming/client/rest/rest.go
  x/farming/client/rest/utils.go
  x/farming/keeper/adjust_reward_proposal_handler.go
  x/farming/types/adjust_reward_proposal.go
  x/farming/types/farming.pb.go
Owners: none

Use explicit bool to query all execution contexts (#946)
  proto/sgn/message/v1/query.proto
  x/message/client/cli/query.go
  x/message/keeper/grpc_querier.go
  x/message/types/query.pb.go
Owners: none

fixed bug and typos (#940)
  executor/executor.go
  x/message/keeper/grpc_querier.go
  x/message/keeper/message.go
Owners: none

fix executor dockerfile and make (#949)
  Makefile
  executor/Dockerfile
Owners: none

allow flow address hex (#950)
  common/utils.go
  x/pegbridge/keeper/apply.go
  x/sync/keeper/apply.go
Owners: none

Refine ctx query (#952)
  executor/chain.go
  executor/executor.go
  executor/gateway.go
  executor/monitor.go
  executor/schema.sql
  executor/sgn/sgn.go
  executor/sgn/sgn_query.go
  x/message/types/execution_context.go
Owners: none

fix updateSigners log
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

Add missing RegisterLegacyAminoCodec in x/mint (#953)
  x/cbridge/module.go
  x/cbridge/types/codec.go
  x/mint/module.go
  x/pegbridge/module.go
Owners: @i9

add message sigs check (#955)
  proto/sgn/message/v1/query.proto
  x/message/keeper/grpc_querier.go
  x/message/types/query.pb.go
Owners: none

Update README.md (#957)
  test/README.md
Owners: none

fix and trigger refund (#958)
  go.mod
  go.sum
  ops/ops.go
  ops/trigger_refund.go
  proto/sgn/cbridge/v1/query.proto
  proto/sgn/cbridge/v1/tx.proto
  x/cbridge/client/cli/query.go
  x/cbridge/handler.go
  x/cbridge/keeper/apply.go
  x/cbridge/keeper/grpc_querier.go
  x/cbridge/keeper/msg_server.go
  x/cbridge/types/msgs.go
  x/cbridge/types/query.pb.go
  x/cbridge/types/tx.pb.go
Owners: @zhangqi021, @i9, @hezhihua81

Allow triggering setting refund for BAD_TOKEN (#960)
  ops/trigger_refund.go
  x/cbridge/keeper/msg_server.go
Owners: @i9

explicit return
  x/cbridge/keeper/apply.go
Owners: @i9

fix deposit version (#965)
  x/pegbridge/keeper/apply.go
  x/pegbridge/types/keys.go
Owners: none

executor and history server for NFT Bridge (#963)
  .gitignore
  go.mod
  go.sum
  tools/nft-bridge/README.md
  tools/nft-bridge/bind_msgbus_recv.go
  tools/nft-bridge/bind_nftbr.go
  tools/nft-bridge/bind_orignft.go
  tools/nft-bridge/cfg.go
  tools/nft-bridge/dal/dal.go
  tools/nft-bridge/dal/db.go
  tools/nft-bridge/dal/models.go
  tools/nft-bridge/dal/queries.sql
  tools/nft-bridge/dal/queries.sql.go
  tools/nft-bridge/dal/schema.sql
  tools/nft-bridge/dal/sqlc.yaml
  tools/nft-bridge/dal/startdb.sh
  tools/nft-bridge/httpsvr.go
  tools/nft-bridge/main.go
  tools/nft-bridge/nftbr_test.toml
  tools/nft-bridge/nftmsg.go
  tools/nft-bridge/nftmsg_test.go
  tools/nft-bridge/onchain.go
  tools/nft-bridge/sgn.go
Owners: none

camelJson, support pagination in history (#966)
  tools/nft-bridge/dal/models.go
  tools/nft-bridge/dal/queries.sql
  tools/nft-bridge/dal/queries.sql.go
  tools/nft-bridge/dal/sqlc.yaml
  tools/nft-bridge/httpsvr.go
Owners: none

expose some grpc gw query; executor refund toggle (#956)
  executor/executor.go
  executor/types/const.go
  proto/sgn/cbridge/v1/query.proto
  test/multi-node-data/executor/config/executor.toml
  x/cbridge/module.go
  x/cbridge/types/query.pb.go
  x/cbridge/types/query.pb.gw.go
  x/message/module.go
Owners: @zhangqi021, @i9

add cors to nft server (#967)
  tools/nft-bridge/httpsvr.go
Owners: none

Improve cbridge query (#968)
  x/cbridge/client/cli/query.go
  x/cbridge/keeper/grpc_querier.go
Owners: @hezhihua81, @i9

Update goutils (#970)
  go.mod
  go.sum
Owners: none

add Access-Control-Allow-Headers to nft svr
  tools/nft-bridge/httpsvr.go
Owners: none

impr nft log fix update dstTx
  tools/nft-bridge/sgn.go
Owners: none

cleanup nftbr log
  tools/nft-bridge/onchain.go
  tools/nft-bridge/sgn.go
Owners: none

use rs/cors for cors
  go.mod
  tools/nft-bridge/httpsvr.go
Owners: none

Explicitly map non-refundable status to UNKNOWN (#973)
  x/cbridge/keeper/grpc_querier.go
Owners: @i9

audit: fix / improve event verification (#964)
  eth/utils.go
  ops/sync.go
  ops/trigger_refund.go
  relayer/cbr_verifier.go
  relayer/msgbr_verifier.go
  relayer/pegbr_verifier.go
Owners: @hezhihua81, @i9

update to latest flow api (#974)
  eth/ethclient.go
  go.mod
  go.sum
  relayer/cbr_onchain.go
  relayer/cbridge.go
  relayer/nonevm_flow.go
  relayer/sgnchain.go
  relayer/watcher_dal.go
  test/common/flow.go
  test/e2e/multinode/multinode_setup.go
Owners: @hezhihua81, @i9

verify flow event (#975)
  go.mod
  go.sum
  relayer/nonevm_flow.go
  relayer/pegbr_verifier.go
  test/e2e/multinode/multinode_setup.go
  test/e2e/multinode/pegbridge_flow_test.go
  x/pegbridge/keeper/apply.go
Owners: none

update msg contract binding and type names (#978)
  eth/bindings_msg.go
  executor/chain.go
  executor/executor.go
  executor/utils.go
  go.mod
  go.sum
  proto/sgn/message/v1/message.proto
  relayer/msgbr_puller.go
  test/common/cbr_eth.go
  test/common/constants.go
  test/contracts/bindings_msg_apps.go
  test/e2e/multinode/message_test.go
  x/cbridge/keeper/withdraw.go
  x/message/keeper/apply.go
  x/message/keeper/message.go
  x/message/types/execution_context.go
  x/message/types/message.go
  x/message/types/message.pb.go
Owners: @i9

add flow waitseal for support nonce (#977)
  relayer/nonevm_flow.go
  relayer/pegbr_onchain.go
Owners: none

add flow peg pull skip (#976)
  relayer/pegbr_puller.go
Owners: none

minimal change to explicitly skip flow for supply cap logic (#980)
  x/pegbridge/keeper/apply.go
Owners: none

fix conflux eth call (#981)
  go.mod
  go.sum
Owners: none

add script for release executor binaries (#983)
  Makefile
  scripts/release_executor.sh
Owners: none

ignore flow report (#984)
  go.mod
  go.sum
  relayer/analytics_report.go
Owners: none

fix flow ut (#985)
  test/e2e/multinode/multinode_setup.go
Owners: none

update msg contract bindings
  eth/bindings_msg.go
  eth/bindings_pegged.go
  eth/bindings_pegged_v2.go
  go.sum
  test/contracts/bindings_msg_apps.go
Owners: none

basefee flow decimal 8, GetOrigPeggedPairByPegged support both eth.Addr and string (#987)
  x/cbridge/keeper/algos.go
  x/pegbridge/keeper/apply.go
  x/pegbridge/keeper/grpc_querier.go
  x/pegbridge/keeper/pair_info.go
  x/pegbridge/types/keys.go
Owners: @i9
