Repository ermyas/sgnv2, changes with the owners that CODEOWNERS names for each.
All owners: @i9, @zhangqi021, @hezhihua81

Retry send gas (#740)
  gateway/dal/gas_on_arrival_log.go
  gateway/dal/schema.sql
  gateway/gateway_test.go
  gateway/onchain/event_handler.go
  gateway/svc/gas_on_arrival.go
Owners: none

retrySendGas (#742)
  gateway/onchain/event_handler.go
Owners: none

fix gateway delay (#739)
  gateway/dal/delayed_op.go
  gateway/onchain/cbridge.go
  gateway/svc/transfer.go
  gateway/webapi/gateway.pb.go
  proto/sgn/gateway/v1/gateway.proto
Owners: none

retry send (#744)
  gateway/gateway.go
Owners: none

Fix gateway delay and add estimate rec amt (#745)
  gateway/dal/delayed_op.go
  gateway/onchain/cbridge.go
  gateway/svc/transfer.go
  gateway/webapi/gateway.pb.go
  proto/sgn/gateway/v1/gateway.proto
Owners: none

peg alert (#746)
  gateway/dal/lp.go
  gateway/dal/transfer.go
  gateway/utils/slack_util.go
Owners: none

peg alert (#746) (#747)
  gateway/dal/lp.go
  gateway/dal/transfer.go
  gateway/utils/slack_util.go
Owners: none

retrySendGas (#748)
  gateway/dal/gas_on_arrival_log.go
  gateway/dal/schema.sql
  gateway/onchain/event_handler.go
  gateway/svc/cs.go
  gateway/svc/gas_on_arrival.go
  gateway/webapi/gateway.pb.go
  proto/sgn/gateway/v1/gateway.proto
Owners: none

add DOMI in explorer (#749)
  explorer/util.go
Owners: none

cbr grpc api (#691)
  go.mod
  go.sum
  proto/sgn/cbridge/v1/query.proto
  x/cbridge/client/cli/query.go
  x/cbridge/keeper/grpc_querier.go
  x/cbridge/keeper/querier.go
  x/cbridge/module.go
  x/cbridge/types/querier.go
  x/cbridge/types/query.pb.go
Owners: @zhangqi021, @hezhihua81, @i9

Domi 0.15 (#750)
  explorer/util.go
  gateway/dal/dal.go
Owners: none

update explorer domi usd price (#753)
  explorer/util.go
Owners: none

retry send (#751)
  gateway/dal/gas_on_arrival_log.go
  gateway/svc/block_number_report.go
  gateway/svc/info.go
Owners: none

retry send (#754)
  gateway/svc/cs.go
Owners: none

alert (#757)
  gateway/gateway.go
  gateway/svc/block_number_report.go
  gateway/svc/gas_on_arrival.go
  gateway/utils/slack_util.go
Owners: none

support delegator single chain claim fee share (#727)
  test/common/cbr_sgn.go
  test/e2e/multinode/cbridge_test.go
  test/e2e/multinode/multinode_setup.go
  x/cbridge/keeper/withdraw.go
Owners: @i9

drop (#758)
  gateway/onchain/event_handler.go
Owners: none

update-celo-proxy (#756)
  gateway/onchain/cbridge.go
  gateway/svc/svr.go
  go.mod
  go.sum
Owners: none

Cbr grpc prod (#759)
  go.mod
  go.sum
  proto/sgn/cbridge/v1/query.proto
  x/cbridge/client/cli/query.go
  x/cbridge/keeper/grpc_querier.go
  x/cbridge/keeper/querier.go
  x/cbridge/module.go
  x/cbridge/types/querier.go
  x/cbridge/types/query.pb.go
Owners: @zhangqi021, @hezhihua81, @i9

Remove ToUpper for symbols (#764)
  tools/cbridge/cmd/addLiq.go
  tools/cbridge/cmd/send.go
  x/cbridge/keeper/config.go
Owners: @i9

Remove ToUpper for symbols (#765)
  tools/cbridge/cmd/addLiq.go
  tools/cbridge/cmd/send.go
  x/cbridge/keeper/config.go
Owners: @i9

update-celo-proxy (#756) (#762)
  gateway/onchain/cbridge.go
  gateway/svc/svr.go
  go.mod
  go.sum
Owners: none

rm cbridge v1 from explorer (#763)
  explorer/server.go
Owners: none

drop gas (#766)
  gateway/dal/gas_on_arrival_log.go
  gateway/dal/schema.sql
  gateway/gateway.go
  gateway/gateway_test.go
  gateway/onchain/event_handler.go
  gateway/svc/block_number_report.go
  gateway/svc/cs.go
  gateway/svc/gas_on_arrival.go
  gateway/svc/info.go
  gateway/utils/slack_util.go
  gateway/webapi/gateway.pb.go
  proto/sgn/gateway/v1/gateway.proto
Owners: none

1d (#767)
  explorer/util.go
  gateway/dal/dal.go
Owners: none

One dodo price prod (#768)
  explorer/util.go
  gateway/dal/dal.go
Owners: none

remove gateway from e2e test (#771)
  docker-compose.yml
  test/e2e/manual/localnet.go
  test/e2e/multinode/cbridge_test.go
  test/e2e/multinode/gov_test.go
  test/e2e/multinode/multinode_setup.go
  test/e2e/multinode/pegbridge_test.go
  test/e2e/multinode/slash_test.go
  test/e2e/multinode/staking_test.go
Owners: none

Main hzh (#773)
  proto/sgn/pegbridge/v1/pegbridge.proto
  x/pegbridge/keeper/pair_info.go
  x/pegbridge/types/pegbridge.pb.go
Owners: none

Revert "Main hzh (#773)"
  proto/sgn/pegbridge/v1/pegbridge.proto
  x/pegbridge/keeper/pair_info.go
  x/pegbridge/types/pegbridge.pb.go
Owners: none

Delete prod2-nlb.log
  docs/prod2-nlb.log
Owners: none

Update aws-NLB.md
  docs/aws-NLB.md
Owners: none

add peg pair delete proposal (#774)
  app/app.go
  proto/sgn/pegbridge/v1/pegbridge.proto
  x/pegbridge/client/peg_change_proposal.go
  x/pegbridge/pegproposal_handler.go
  x/pegbridge/types/codec.go
  x/pegbridge/types/peg_proposal.go
  x/pegbridge/types/pegbridge.go
  x/pegbridge/types/pegbridge.pb.go
Owners: none

add peg pair delete proposal (#774)
  app/app.go
  proto/sgn/pegbridge/v1/pegbridge.proto
  x/pegbridge/client/peg_change_proposal.go
  x/pegbridge/pegproposal_handler.go
  x/pegbridge/types/codec.go
  x/pegbridge/types/peg_proposal.go
  x/pegbridge/types/pegbridge.go
  x/pegbridge/types/pegbridge.pb.go
Owners: none

del (#775)
  deploy.sh
Owners: none

Update docs (#778)
  docs/sgnd/sgnd_ops.md
  docs/sgnd/sgnd_ops_init-validator.md
  docs/sgnd/sgnd_ops_sync-farming.md
  docs/sgnd/sgnd_query.md
  docs/sgnd/sgnd_query_cbridge.md
  docs/sgnd/sgnd_query_cbridge_liqsum.md
  docs/sgnd/sgnd_query_farming.md
  docs/sgnd/sgnd_query_farming_reward-contract.md
  docs/sgnd/sgnd_query_farming_reward-contracts.md
  docs/sgnd/sgnd_query_pegbridge.md
  docs/sgnd/sgnd_query_pegbridge_burn.md
  docs/sgnd/sgnd_query_pegbridge_config.md
  docs/sgnd/sgnd_query_pegbridge_deposit.md
  docs/sgnd/sgnd_query_pegbridge_mint.md
  docs/sgnd/sgnd_query_pegbridge_params.md
  docs/sgnd/sgnd_query_pegbridge_withdraw.md
  docs/sgnd/sgnd_tx.md
  docs/sgnd/sgnd_tx_farming.md
  docs/sgnd/sgnd_tx_farming_farming-set-reward-contracts.md
  docs/sgnd/sgnd_tx_gov_submit-proposal_farming-set-reward-contracts.md
  docs/sgnd/sgnd_tx_gov_submit-proposal_pegbridge-change.md
  docs/sgnd/sgnd_tx_gov_submit-proposal_pegged-pair-delete.md
  docs/sgnd/sgnd_tx_pegbridge.md
  docs/sgnd/sgnd_tx_pegbridge_sign-again-mint.md
  docs/sgnd/sgnd_tx_pegbridge_sign-again-withdraw.md
  ops/init_validator.go
Owners: none

Update docs (#777)
  docs/sgnd/sgnd_ops.md
  docs/sgnd/sgnd_ops_init-validator.md
  docs/sgnd/sgnd_ops_sync-farming.md
  docs/sgnd/sgnd_query.md
  docs/sgnd/sgnd_query_cbridge.md
  docs/sgnd/sgnd_query_cbridge_liqsum.md
  docs/sgnd/sgnd_query_farming.md
  docs/sgnd/sgnd_query_farming_reward-contract.md
  docs/sgnd/sgnd_query_farming_reward-contracts.md
  docs/sgnd/sgnd_query_pegbridge.md
  docs/sgnd/sgnd_query_pegbridge_burn.md
  docs/sgnd/sgnd_query_pegbridge_config.md
  docs/sgnd/sgnd_query_pegbridge_deposit.md
  docs/sgnd/sgnd_query_pegbridge_mint.md
  docs/sgnd/sgnd_query_pegbridge_params.md
  docs/sgnd/sgnd_query_pegbridge_withdraw.md
  docs/sgnd/sgnd_tx.md
  docs/sgnd/sgnd_tx_farming.md
  docs/sgnd/sgnd_tx_farming_farming-set-reward-contracts.md
  docs/sgnd/sgnd_tx_gov_submit-proposal_farming-set-reward-contracts.md
  docs/sgnd/sgnd_tx_gov_submit-proposal_pegbridge-change.md
  docs/sgnd/sgnd_tx_gov_submit-proposal_pegged-pair-delete.md
  docs/sgnd/sgnd_tx_pegbridge.md
  docs/sgnd/sgnd_tx_pegbridge_sign-again-mint.md
  docs/sgnd/sgnd_tx_pegbridge_sign-again-withdraw.md
  ops/init_validator.go
Owners: none

allow refund without sig (#776)
  x/cbridge/keeper/algos.go
  x/cbridge/keeper/msg_server.go
  x/cbridge/keeper/withdraw.go
Owners: @i9

fix mint 'record exsits' error check
  relayer/pegbr_puller.go
Owners: none

fix mint 'record exsits' error check
  relayer/pegbr_puller.go
Owners: none

refine cbrconfig gov (#780)
  x/cbridge/keeper/config.go
Owners: @i9

CODEOWNERS:

# leading slash / means path from repo root
# if multiple matches, last match will take effect
# keep rules sorted by folder name

/proto/sgn/cbridge/v1/ @i9
/proto/sgn/cbridge/v1/query.proto @zhangqi021

/relayer/cbr_*.go @hezhihua81 @i9

/x/cbridge/ @i9
/x/cbridge/client/ @hezhihua81
x/cbridge/keeper/querier.go @hezhihua81
