Repository ermyas/sgnv2, changes with the owners that CODEOWNERS names for each.
All owners: @i9, @zhangqi021, @hezhihua81

Contract as lp (#859)
  app/app.go
  common/multichain.go
  eth/bindings_readme.md
  eth/bindings_wdinbox.go
  eth/contracts.go
  eth/utils.go
  go.mod
  go.sum
  proto/sgn/cbridge/v1/query.proto
  proto/sgn/cbridge/v1/tx.proto
  relayer/cbr_onchain.go
  relayer/cbr_puller.go
  relayer/cbr_verifier.go
  relayer/cbridge.go
  test/common/cbr_eth.go
  test/common/deployer.go
  test/common/framework.go
  test/e2e/multinode/cbridge_test.go
  test/e2e/multinode/multinode_setup.go
  x/cbridge/client/cli/query.go
  x/cbridge/keeper/apply.go
  x/cbridge/keeper/getset.go
  x/cbridge/keeper/grpc_querier.go
  x/cbridge/keeper/migrations.go
  x/cbridge/keeper/msg_server.go
  x/cbridge/keeper/withdraw.go
  x/cbridge/module.go
  x/cbridge/types/events.go
  x/cbridge/types/keys.go
  x/cbridge/types/query.pb.go
  x/cbridge/types/tx.pb.go
Owners: @zhangqi021, @i9, @hezhihua81

Code count report (#903)
  tools/codecount/README.md
  tools/codecount/code-count-report.txt
  tools/codecount/codecount.sh
Owners: none

go mod tidy
  go.mod
  go.sum
Owners: none

fix proto name (#904)
  proto/sgn/health/v1/health.proto
  relayer/health.pb.go
Owners: none

improve sgnd ops command (#905)
  .github/workflows/run_singlenode_tests.yml
  docs/sgnd/sgnd_ops.md
  docs/sgnd/sgnd_ops_bond-validator.md
  docs/sgnd/sgnd_ops_bridge.md
  docs/sgnd/sgnd_ops_bridge_submit-relay.md
  docs/sgnd/sgnd_ops_bridge_sync-farming.md
  docs/sgnd/sgnd_ops_delegator.md
  docs/sgnd/sgnd_ops_delegator_complete-undelegate.md
  docs/sgnd/sgnd_ops_delegator_delegate.md
  docs/sgnd/sgnd_ops_delegator_undelegate.md
  docs/sgnd/sgnd_ops_sync.md
  docs/sgnd/sgnd_ops_sync_event.md
  docs/sgnd/sgnd_ops_sync_signers.md
  docs/sgnd/sgnd_ops_sync_staking.md
  docs/sgnd/sgnd_ops_validator.md
  docs/sgnd/sgnd_ops_validator_address.md
  docs/sgnd/sgnd_ops_validator_bond.md
  docs/sgnd/sgnd_ops_validator_claim-staking-reward.md
  docs/sgnd/sgnd_ops_validator_init.md
  docs/sgnd/sgnd_ops_validator_withdraw-cbr-fee.md
  docs/sgnd/sgnd_ops_validator_withdraw-pegbr-fee.md
  docs/sgnd/sgnd_ops_view.md
  docs/sgnd/sgnd_ops_view_bonded-validators.md
  docs/sgnd/sgnd_ops_view_delegator.md
  docs/sgnd/sgnd_ops_view_validators.md
  docs/sgnd/sgnd_query_cbridge.md
  docs/sgnd/sgnd_query_cbridge_lp-origin.md
  ops/bond_validator.go
  ops/claim_reward.go
  ops/eth_viewer.go
  ops/init_validator.go
  ops/ops.go
  ops/submit_relay.go
  ops/sync.go
  ops/validator_address.go
  test/e2e/manual/README.md
  test/e2e/manual/docs/cbridge.md
  test/e2e/manual/docs/staking.md
Owners: none

Fix event skipping bug of feature:contract as lp (#906)
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

Update bindings and reinforce skip check (#908)
  eth/bindings_wdinbox.go
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

Msg fee test (#907)
  Makefile
  docker-compose.yml
  eth/bindings_msg.go
  eth/bindings_pegged.go
  eth/bindings_readme.md
  executor/dal.go
  executor/executor.go
  executor/gateway.go
  executor/schema.sql
  executor/sgn/sgn_query.go
  executor/types/config.go
  executor/types/status.go
  proto/sgn/message/v1/tx.proto
  relayer/sgnchain.go
  scripts/update_contract_bindings.sh
  scripts/update_peg_contract_bindings.sh
  test/common/cbr_eth.go
  test/common/cbr_sgn.go
  test/common/constants.go
  test/common/deployer.go
  test/common/eth.go
  test/common/framework.go
  test/common/utils.go
  test/e2e/multinode/message_test.go
  test/e2e/multinode/multinode_setup.go
  x/farming/keeper/msg_server.go
  x/message/client/cli/query.go
  x/message/client/cli/tx.go
  x/message/handler.go
  x/message/keeper/fees.go
  x/message/keeper/msg_server.go
  x/message/types/execution_context.go
  x/message/types/fee_claim_info.go
  x/message/types/tx.pb.go
Owners: none

remove monitor reset flag, increase syncer candidate check interval (#910)
  relayer/eth_staking.go
  relayer/relayer.go
Owners: none

increase query retry interval
  common/utils.go
Owners: none

add eth params viewer command
  docs/sgnd/sgnd_ops.md
  docs/sgnd/sgnd_ops_view.md
  docs/sgnd/sgnd_ops_view_bonded-validators.md
  docs/sgnd/sgnd_ops_view_params.md
  docs/sgnd/sgnd_ops_view_validators.md
  ops/eth_viewer.go
Owners: none

fix analytics report nil pointer
  relayer/analytics_report.go
  relayer/pegbr_verifier.go
Owners: none

fix x/message for multipegbr (#911)
  eth/contracts.go
  eth/utils.go
  executor/monitor.go
  relayer/cbr_onchain.go
  relayer/cbr_verifier.go
  relayer/cbridge.go
  relayer/eth_staking.go
  relayer/msgbr_onchain.go
  relayer/msgbr_puller.go
  relayer/msgbr_verifier.go
  relayer/pegbridge.go
  relayer/sgnchain.go
  test/e2e/multinode/message_test.go
  x/message/keeper/apply.go
  x/message/types/expected_keepers.go
Owners: @hezhihua81, @i9

fix relayer lock (#912)
  relayer/cbr_puller.go
  relayer/cbridge.go
  relayer/msgbr_puller.go
  relayer/pegbr_puller.go
  relayer/relayer.go
Owners: @hezhihua81, @i9

Reinforce skip logic for withdrawal request event (#909)
  eth/bindings_wdinbox.go
  eth/utils.go
  proto/sgn/cbridge/v1/query.proto
  relayer/cbr_puller.go
  x/cbridge/client/cli/query.go
  x/cbridge/keeper/grpc_querier.go
  x/cbridge/types/query.pb.go
Owners: @zhangqi021, @hezhihua81, @i9

update pegbridge doc
  x/pegbridge/spec/01_concepts.md
  x/pegbridge/spec/02_state.md
Owners: none

update pegbridge doc
  x/pegbridge/spec/01_concepts.md
  x/pegbridge/spec/README.md
Owners: none

add check interval for withdrawal request (#914)
  relayer/cbr_onchain.go
Owners: @hezhihua81, @i9

add print nonce cmd
  tools/aws-kms-tools/clear_stuck_tx.md
  tools/aws-kms-tools/impl/common.go
  tools/aws-kms-tools/impl/print_address.go
  tools/aws-kms-tools/impl/print_nonce.go
  tools/aws-kms-tools/impl/root.go
  tools/aws-kms-tools/impl/send_tx.go
  tools/aws-kms-tools/impl/sign_message.go
Owners: none

update kms readme
  tools/aws-kms-tools/clear_stuck_tx.md
Owners: none

update kms nonce doc
  tools/aws-kms-tools/clear_stuck_tx.md
  tools/aws-kms-tools/impl/print_nonce.go
Owners: none

Doc nits
  x/cbridge/spec/01_concepts.md
  x/cbridge/spec/02_state.md
  x/cbridge/spec/03_messages.md
  x/cbridge/spec/04_events.md
  x/cbridge/spec/05_params.md
  x/cbridge/spec/README.md
  x/pegbridge/spec/01_concepts.md
  x/pegbridge/spec/02_state.md
  x/pegbridge/spec/README.md
  x/pegbridge/types/pegbridge.go
Owners: @i9

add workflow doc (#916)
  .gitignore
  docs/README.md
  docs/cbridge-walkthrough.md
  docs/figures/architecture.png
  docs/relayer.md
  docs/workflows.md
Owners: none

add validityPeriod check for withdrawal request (#917)
  eth/bindings_readme.md
  eth/bindings_wdinbox.go
  eth/utils.go
  relayer/cbr_puller.go
  x/cbridge/keeper/apply.go
Owners: @hezhihua81, @i9

update docs
  docs/README.md
  docs/aws-NLB.md
  docs/relayer.md
  docs/workflows.md
  x/staking/spec/01_state.md
  x/staking/spec/04_params.md
Owners: none

add validator witness mode (#920)
  common/flags.go
  relayer/relayer.go
  test/common/sgnchain.go
  test/e2e/multinode/bridge_test.go
  test/e2e/multinode/cbridge_test.go
  test/e2e/multinode/message_test.go
  test/e2e/multinode/multinode_setup.go
  test/e2e/multinode/pegbridge_test.go
  x/staking/handler.go
Owners: none

remove unused field powers (#923)
  proto/sgn/message/v1/message.proto
  x/message/keeper/grpc_querier.go
  x/message/types/execution_context.go
  x/message/types/message.pb.go
Owners: none

cli to query LP balance
  x/cbridge/client/cli/query.go
Owners: @hezhihua81

timeout (#927)
  common/constants.go
  x/cbridge/client/cli/query.go
  x/pegbridge/client/cli/query.go
Owners: @hezhihua81

msg cmp (#929)
  eth/utils.go
  relayer/msgbr_verifier.go
Owners: none

Nit: fix typos
  docs/README.md
  docs/relayer.md
  docs/workflows.md
  test/common/deployer.go
Owners: none

upgrade go mod and improve msg test utils (#931)
  go.mod
  go.sum
  test/common/cbr_eth.go
  test/e2e/multinode/message_test.go
Owners: none

report (#926)
  common/flags.go
  proto/sgn/health/v1/health.proto
  relayer/analytics_report.go
  relayer/health.pb.go
  relayer/relayer.go
  test/data/.sgnd/config/sgn.toml
  test/e2e/multinode/multinode_setup.go
  test/multi-node-data/node0/sgnd/config/sgn.toml
  test/multi-node-data/node3/sgnd/config/sgn.toml
  tools/cbridge/manual_test_cbridge.toml
Owners: none

Add more gas configs (#934)
  common/multichain.go
  executor/chain.go
  ops/common.go
  relayer/cbridge.go
Owners: none

improve err log
  relayer/cbridge.go
Owners: none

message refactor (#935)
  eth/utils.go
  executor/executor.go
  executor/monitor.go
  executor/types/config.go
  executor/utils.go
  go.mod
  go.sum
  proto/sgn/message/v1/message.proto
  proto/sgn/message/v1/query.proto
  relayer/msgbr_puller.go
  relayer/msgbr_verifier.go
  test/common/cbr_eth.go
  test/common/cbr_sgn.go
  test/e2e/multinode/cbridge_test.go
  test/e2e/multinode/message_test.go
  x/cbridge/keeper/withdraw.go
  x/message/client/cli/query.go
  x/message/keeper/apply.go
  x/message/keeper/grpc_querier.go
  x/message/keeper/message.go
  x/message/keeper/msg_server.go
  x/message/keeper/refund.go
  x/message/keeper/transfer.go
  x/message/types/errors.go
  x/message/types/execution_context.go
  x/message/types/expected_keepers.go
  x/message/types/keys.go
  x/message/types/message.go
  x/message/types/message.pb.go
  x/message/types/query.pb.go
  x/message/types/query.pb.gw.go
Owners: @i9

sort claimfee by chainid
  x/cbridge/client/cli/query.go
Owners: @hezhihua81

fix claim fee cli
  x/cbridge/client/cli/query.go
Owners: @hezhihua81

refine query (#938)
  x/message/client/cli/query.go
Owners: none

fix flipped logic (#937)
  relayer/msgbr_verifier.go
Owners: none

CODEOWNERS:

# leading slash / means path from repo root
# if multiple matches, last match will take effect
# keep rules sorted by folder name

/proto/sgn/cbridge/v1/ @i9
/proto/sgn/cbridge/v1/query.proto @zhangqi021

/relayer/cbr_*.go @hezhihua81 @i9

/x/cbridge/ @i9
/x/cbridge/client/ @hezhihua81
x/cbridge/keeper/querier.go @hezhihua81
