Repository ermyas/sgnv2, changes with the owners that CODEOWNERS names for each.
All owners: @i9, @zhangqi021, @hezhihua81

pointer (#513)
  gateway/svc/cbr_price.go
Owners: none

refine log (#514)
  gateway/svc/cs.go
Owners: none

refine cs complete update (#515)
  gateway/dal/transfer.go
  gateway/svc/cs.go
Owners: none

set homedir in transactor cliCtx (#516)
  transactor/transactor.go
Owners: none

fix panic (#517)
  gateway/svc/cs.go
Owners: none

add evname param (#518)
  gateway/svc/cs.go
  ops/sync.go
Owners: none

normal case info (#519)
  gateway/svc/cs.go
Owners: none

rename liq status enum (#521)
  gateway/dal/lp.go
  gateway/gateway_test.go
  gateway/svc/cs.go
  gateway/svc/lp.go
  gateway/svc/transfer.go
  gateway/webapi/gateway.pb.go
  go.mod
  go.sum
  ops/sync.go
  proto/sgn/cbridge/v1/query.proto
  proto/sgn/gateway/v1/gateway.proto
  relayer/cbr_puller.go
  relayer/cbr_utils.go
  test/common/cbr_sgn.go
  x/cbridge/keeper/querier.go
  x/cbridge/types/query.pb.go
Owners: @zhangqi021, @hezhihua81, @i9

Revert "rename liq status enum (#521)" (#523)
  gateway/dal/lp.go
  gateway/gateway_test.go
  gateway/svc/cs.go
  gateway/svc/lp.go
  gateway/svc/transfer.go
  gateway/webapi/gateway.pb.go
  go.mod
  go.sum
  ops/sync.go
  proto/sgn/cbridge/v1/query.proto
  proto/sgn/gateway/v1/gateway.proto
  relayer/cbr_puller.go
  relayer/cbr_utils.go
  test/common/cbr_sgn.go
  x/cbridge/keeper/querier.go
  x/cbridge/types/query.pb.go
Owners: @zhangqi021, @hezhihua81, @i9

handle polygon event (#522)
  ops/sync.go
  relayer/cbr_verifier.go
Owners: @hezhihua81, @i9

update_price_interval_ (#525)
  common/flags.go
  gateway/fee/token_price_cache.go
  gateway/gateway.go
  gateway/gateway_test.go
  relayer/cbr_price_puller.go
  test/data/.sgnd/config/sgn.toml
  test/multi-node-data/node0/sgnd/config/sgn.toml
  test/multi-node-data/node1/sgnd/config/sgn.toml
  test/multi-node-data/node2/sgnd/config/sgn.toml
  test/multi-node-data/node3/sgnd/config/sgn.toml
Owners: @hezhihua81, @i9

auth (#526)
  gateway/svc/cs.go
  gateway/webapi/gateway.pb.go
  go.mod
  go.sum
  proto/sgn/gateway/v1/gateway.proto
Owners: none

default (#528)
  app/app.go
Owners: none

only send refine token (#529)
  gateway/svc/transfer.go
Owners: none

Add nounce index for liq add (#527)
  gateway/dal/lp.go
  gateway/svc/lp.go
  relayer/cbr_onchain.go
Owners: @hezhihua81, @i9

search event in receipt logs instead of hardcode position (#524)
  eth/utils.go
  ops/sync.go
  relayer/cbr_verifier.go
  test/common/cbr_eth.go
Owners: @hezhihua81, @i9

nonce use ts as fallback (#530)
  relayer/cbr_onchain.go
Owners: @hezhihua81, @i9

fix add by seqnum logic (#532)
  gateway/dal/lp.go
  gateway/dal/transfer.go
  gateway/dal/wrapper.go
  gateway/gateway_test.go
  relayer/cbr_onchain.go
  relayer/cbr_utils.go
Owners: @hezhihua81, @i9

Cs tool refine (#533)
  gateway/dal/lp.go
  gateway/svc/cs.go
Owners: none

open safe guarding alert from gateway (#531)
  gateway/gateway_test.go
  gateway/svc/cs.go
  gateway/svc/info.go
  gateway/svc/lp.go
  gateway/svc/safeguarding.go
  gateway/svc/svr.go
  gateway/utils/slack_util.go
Owners: none

revert add (#535)
  gateway/dal/lp.go
  gateway/dal/wrapper.go
  gateway/gateway_test.go
  gateway/svc/lp.go
  relayer/cbr_onchain.go
  relayer/cbr_utils.go
Owners: @hezhihua81, @i9

fix (#536)
  relayer/cbr_onchain.go
Owners: @hezhihua81, @i9

stop gateway safeguard (#534)
  gateway/svc/lp.go
  gateway/svc/svr.go
Owners: none

Revert "stop gateway safeguard (#534)" (#538)
  gateway/svc/lp.go
  gateway/svc/svr.go
Owners: none

fix decimal(srcChain->dstChain) (#539)
  gateway/svc/lp.go
  gateway/svc/safeguarding.go
Owners: none

use get method (#542)
  gateway/svc/lp.go
Owners: none

impl export and import all KVs in x/cbr (#537)
  proto/sgn/cbridge/v1/genesis.proto
  x/cbridge/genesis.go
  x/cbridge/keeper/keeper.go
  x/cbridge/types/genesis.pb.go
Owners: @i9

distinct env for alert (#543)
  app/app.go
  gateway/gateway.go
  gateway/gateway_test.go
  gateway/svc/safeguarding.go
  gateway/svc/svr.go
  gateway/utils/slack_util.go
Owners: none

Take L1 gas price into account for Optimism (#545)
  gateway/svc/cbr_price.go
Owners: none

Use suggestedGasPrice/2 for Arbitrum base fee (#547)
  gateway/svc/cbr_price.go
Owners: none

enforce same relay src and dst addr (#553)
  go.mod
  go.sum
  proto/sgn/cbridge/v1/cbridge.proto
  relayer/cbr_puller.go
  x/cbridge/keeper/apply.go
  x/cbridge/types/cbridge.pb.go
Owners: @i9, @hezhihua81

alert change (#554)
  gateway/svc/safeguarding.go
  gateway/utils/slack_util.go
Owners: none

stop blc changing (#557)
  gateway/gateway.go
Owners: none

Use EIP-1559 with transactor (#549)
  common/eth_client.go
  common/flags.go
  common/multichain.go
  eth/ethclient.go
  go.mod
  go.sum
  ops/common.go
  relayer/cbridge.go
  test/data/.sgnd/config/cbridge.toml
  test/data/.sgnd/config/config.toml
  test/data/.sgnd/config/sgn.toml
  test/e2e/singlenode/e2e_test.go
  test/e2e/singlenode/singlenode_setup.go
  test/multi-node-data/node0/sgnd/config/cbridge.toml
  test/multi-node-data/node0/sgnd/config/sgn.toml
  test/multi-node-data/node1/sgnd/config/cbridge.toml
  test/multi-node-data/node1/sgnd/config/sgn.toml
  test/multi-node-data/node2/sgnd/config/cbridge.toml
  test/multi-node-data/node2/sgnd/config/sgn.toml
  test/multi-node-data/node3/sgnd/config/cbridge.toml
  test/multi-node-data/node3/sgnd/config/sgn.toml
Owners: none

Fix typos (#552)
  gateway/webapi/gateway.pb.go
  go.mod
  go.sum
  ops/submit_relay.go
  proto/sgn/cbridge/v1/cbridge.proto
  proto/sgn/cbridge/v1/tx.proto
  proto/sgn/gateway/v1/gateway.proto
  proto/sgn/gov/v1/gov.proto
  proto/sgn/gov/v1/query.proto
  proto/sgn/mint/v1/genesis.proto
  x/cbridge/keeper/msg_server.go
  x/cbridge/types/cbridge.pb.go
  x/cbridge/types/tx.pb.go
  x/gov/types/gov.pb.go
  x/gov/types/query.pb.go
  x/mint/types/genesis.pb.go
Owners: @i9

fix slippage (#561)
  gateway/svc/transfer.go
Owners: none

change withdraw alert (#562)
  gateway/svc/lp.go
  gateway/svc/safeguarding.go
  gateway/utils/slack_util.go
Owners: none

delayed transfer/withdrawal (#492)
  gateway/dal/delayed_op.go
  gateway/dal/lp.go
  gateway/dal/schema.sql
  gateway/dal/transfer.go
  gateway/dal/wrapper.go
  gateway/gateway_test.go
  gateway/svc/lp.go
  gateway/svc/svr.go
  gateway/svc/transfer.go
  gateway/utils/hash.go
  go.mod
  go.sum
  proto/sgn/cbridge/v1/cbridge.proto
  proto/sgn/cbridge/v1/query.proto
  relayer/cbr_onchain.go
  relayer/cbr_utils.go
  test/data/.sgnd/config/cbridge.toml
  test/multi-node-data/geth-env/mainchain_genesis.json
  test/multi-node-data/geth2-env/mainchain_genesis.json
  test/multi-node-data/node0/sgnd/config/cbridge.toml
  x/cbridge/types/cbridge.pb.go
  x/cbridge/types/events.go
  x/cbridge/types/query.pb.go
Owners: @i9, @zhangqi021, @hezhihua81

should not fatal as the method is also used by gateway (#565)
  ops/sync.go
Owners: none

add tx check (#566)
  gateway/svc/cs.go
Owners: none

CODEOWNERS:

# leading slash / means path from repo root
# if multiple matches, last match will take effect
# keep rules sorted by folder name

/proto/sgn/cbridge/v1/ @i9
/proto/sgn/cbridge/v1/query.proto @zhangqi021

/relayer/cbr_*.go @hezhihua81 @i9

/x/cbridge/ @i9
/x/cbridge/client/ @hezhihua81
x/cbridge/keeper/querier.go @hezhihua81
