Repository ermyas/sgnv2, changes with the owners that CODEOWNERS names for each.
All owners: @i9, @zhangqi021, @hezhihua81

CODEOWNERS:

# leading slash / means path from repo root
# if multiple matches, last match will take effect
# keep rules sorted by folder name

/proto/sgn/cbridge/v1/ @i9
/proto/sgn/cbridge/v1/query.proto @zhangqi021

/relayer/cbr_*.go @hezhihua81 @i9

/x/cbridge/ @i9
/x/cbridge/client/ @hezhihua81
x/cbridge/keeper/querier.go @hezhihua81

Add forcegaspricegwei to config (#1010)
  common/eth_client.go
  common/flags.go
  eth/ethclient.go
  go.mod
  go.sum
  ops/common.go
Owners: none

fix msg queue concurrency (#1011)
  transactor/transactor.go
  transactor/utils.go
Owners: none

update readme
  README.md
  tools/aws-kms-tools/clear_stuck_tx.md
Owners: none

proxy for crab (#1012)
  go.mod
  go.sum
Owners: none

proxy for crab (#1012) (#1013)
  go.mod
  go.sum
Owners: none

fix array out of index
  eth/utils.go
Owners: none

fix array out of index
  eth/utils.go
Owners: none

parallel flow test (#1014)
  test/e2e/multinode/bridge_test.go
  test/e2e/multinode/pegbridge_flow_test.go
Owners: none

parallel flow test (#1014)
  test/e2e/multinode/bridge_test.go
  test/e2e/multinode/pegbridge_flow_test.go
Owners: none

update flow sdk and ut (#1016)
  go.mod
  go.sum
  relayer/nonevm_flow.go
  test/common/flow.go
  test/e2e/multinode/multinode_setup.go
  test/e2e/multinode/pegbridge_flow_test.go
Owners: none

Executor refine (#1015)
  executor/Dockerfile
  executor/LICENSE
  executor/chain.go
  executor/cmd/query.go
  executor/cmd/root.go
  executor/cmd/start.go
  executor/dal.go
  executor/executor.go
  executor/gateway.go
  executor/main/main.go
  executor/monitor.go
  executor/schema.sql
  executor/sgn/sgn.go
  executor/types/const.go
  executor/types/status.go
  executor/watcher_dal.go
  go.mod
  go.sum
Owners: none

merge main: flow version and executor (#1017)
  executor/Dockerfile
  executor/LICENSE
  executor/chain.go
  executor/cmd/query.go
  executor/cmd/root.go
  executor/cmd/start.go
  executor/dal.go
  executor/executor.go
  executor/gateway.go
  executor/main/main.go
  executor/monitor.go
  executor/schema.sql
  executor/sgn/sgn.go
  executor/types/const.go
  executor/types/status.go
  executor/watcher_dal.go
  go.mod
  go.sum
  relayer/nonevm_flow.go
  test/common/flow.go
  test/e2e/multinode/multinode_setup.go
  test/e2e/multinode/pegbridge_flow_test.go
Owners: none

fix log
  x/pegbridge/keeper/apply.go
Owners: none

Re-org nft-bridge files to add ops tool (#1020)
  tools/nft-bridge/binding/msgrecv.go
  tools/nft-bridge/binding/nftbr.go
  tools/nft-bridge/binding/orignft.go
  tools/nft-bridge/cfg.go
  tools/nft-bridge/main/httpsvr.go
  tools/nft-bridge/main/main.go
  tools/nft-bridge/nftbr_test.toml
  tools/nft-bridge/nftmsg.go
  tools/nft-bridge/nftmsg_test.go
  tools/nft-bridge/onchain.go
  tools/nft-bridge/ops/main.go
  tools/nft-bridge/sgn.go
  tools/nft-bridge/testnet.json
Owners: none

fix nftbf nil panic
  tools/nft-bridge/sgn.go
Owners: none

nftbr no need to handle sigterm
  tools/nft-bridge/sgn.go
Owners: none

do not sync if peg pair not found (#1018)
  relayer/pegbr_puller.go
Owners: none

nftbr better ev log
  tools/nft-bridge/onchain.go
Owners: none

update peg bnding and cbr log (#1021)
  eth/bindings_pegged_v2.go
  x/cbridge/keeper/algos.go
Owners: @i9

nftbr: minor json impr
  tools/nft-bridge/cfg.go
Owners: none

fix retry issue (#1019)
  executor/chain.go
  executor/cmd/query.go
  executor/cmd/root.go
  executor/cmd/start.go
  executor/dal.go
  executor/executor.go
  executor/sgn/sgn.go
  executor/sgn/sgn_query.go
  executor/types/status.go
Owners: none

Update dal.go
  executor/dal.go
Owners: none

add addr blocklist for legal compliance (#1023)
  common/flags.go
  relayer/cbr_onchain.go
  relayer/cbr_verifier.go
  relayer/msgbr_onchain.go
  relayer/msgbr_verifier.go
  relayer/pegbr_onchain.go
  relayer/pegbr_verifier.go
  relayer/relayer.go
  relayer/utils.go
  test/multi-node-data/node0/sgnd/config/sgn.toml
Owners: @hezhihua81, @i9

switch to monv2 (#1022)
  go.mod
  go.sum
  relayer/analytics_report.go
  relayer/cbr_onchain.go
  relayer/cbr_verifier.go
  relayer/cbridge.go
  relayer/eth_staking.go
  relayer/msgbr_onchain.go
  relayer/msgbr_verifier.go
  relayer/pegbr_onchain.go
  relayer/relayer.go
  relayer/utils.go
  test/common/cbr_sgn.go
Owners: @hezhihua81, @i9

rm executor (#1025)
  executor/Dockerfile
  executor/LICENSE
  executor/chain.go
  executor/cmd/query.go
  executor/cmd/root.go
  executor/cmd/start.go
  executor/dal.go
  executor/executor.go
  executor/gateway.go
  executor/main/main.go
  executor/monitor.go
  executor/schema.sql
  executor/sgn/sgn.go
  executor/sgn/sgn_query.go
  executor/sgn/sgn_tx.go
  executor/types/config.go
  executor/types/const.go
  executor/types/funcs.go
  executor/types/gateway.pb.go
  executor/types/status.go
  executor/utils.go
  executor/watcher_dal.go
Owners: none

rm event checkinterval (#1026)
  common/flags.go
  relayer/cbr_utils.go
  relayer/utils.go
  test/multi-node-data/node0/sgnd/config/cbridge.toml
Owners: @hezhihua81, @i9

move blocklist to cbridge.toml
  test/multi-node-data/node0/sgnd/config/cbridge.toml
  test/multi-node-data/node0/sgnd/config/sgn.toml
Owners: none

update mcn nft addr in testnet.json
  tools/nft-bridge/testnet.json
Owners: none

improve test setup (#1027)
  executor/Dockerfile
  go.mod
  go.sum
  test/e2e/manual/localnet.go
  test/e2e/multinode/bridge_test.go
  test/e2e/multinode/cbridge_test.go
  test/e2e/multinode/e2e_test.go
  test/e2e/multinode/gov_test.go
  test/e2e/multinode/message_test.go
  test/e2e/multinode/multinode_setup.go
  test/e2e/multinode/pegbridge_flow_test.go
  test/e2e/multinode/pegbridge_test.go
  test/e2e/multinode/slash_test.go
  test/e2e/multinode/staking_test.go
Owners: none

update goutils
  go.mod
  go.sum
Owners: none

proxy for platon (#1028)
  go.mod
  go.sum
Owners: none

proxy for platon (#1028) (#1029)
  go.mod
  go.sum
Owners: none

verify: retry if record not found
  relayer/cbr_verifier.go
  relayer/pegbr_verifier.go
Owners: @hezhihua81, @i9

update comment
  relayer/cbr_verifier.go
  relayer/pegbr_verifier.go
Owners: @hezhihua81, @i9

proxy for sx (#1035)
  go.mod
  go.sum
Owners: none

executor-da46b14e02fdbd80074cd4e68b41c5b921b25c6a (#1034)
  Makefile
  executor/Dockerfile
Owners: none

Blocktime monitor (#1038)
  proto/sgn/health/v1/health.proto
  relayer/analytics_report.go
  relayer/health.pb.go
Owners: none

support per user nft list (#1037)
  .gitignore
  tools/nft-bridge/README.md
  tools/nft-bridge/dal/dal.go
  tools/nft-bridge/dal/models.go
  tools/nft-bridge/dal/queries.sql
  tools/nft-bridge/dal/queries.sql.go
  tools/nft-bridge/dal/schema.sql
  tools/nft-bridge/dal/sqlc.yaml
  tools/nft-bridge/main/httpsvr.go
  tools/nft-bridge/onchain.go
  tools/nft-bridge/owner/README.md
  tools/nft-bridge/owner/main.go
  tools/nft-bridge/owner/nftbr_test.toml
  tools/nft-bridge/owner/nfts.toml
  tools/nft-bridge/owner/types.go
  tools/nft-bridge/owner/types_test.go
Owners: none

check pegV2 proposal (#1030)
  x/pegbridge/keeper/config.go
  x/pegbridge/types/peg_proposal.go
Owners: none

check pegV2 proposal (#1030) (#1042)
  x/pegbridge/keeper/config.go
  x/pegbridge/types/peg_proposal.go
Owners: none
