Repository ermyas/sgnv2, changes with the owners that CODEOWNERS names for each.
All owners: @i9, @zhangqi021, @hezhihua81

fix rm liq volume (#617)
  gateway/dal/lp.go
  gateway/dal/transfer.go
  gateway/dal/wrapper.go
  relayer/cbr_onchain.go
  relayer/cbr_utils.go
Owners: @hezhihua81, @i9

add ChkLiqSum query (#550)
  proto/sgn/cbridge/v1/query.proto
  x/cbridge/client/cli/query.go
  x/cbridge/keeper/querier.go
  x/cbridge/types/querier.go
  x/cbridge/types/query.pb.go
Owners: @zhangqi021, @hezhihua81, @i9

check event block number (#616)
  relayer/cbr_verifier.go
  relayer/relayer.go
Owners: @hezhihua81, @i9

fix ssHash check (#618)
  relayer/cbr_puller.go
  x/cbridge/keeper/msg_server.go
Owners: @hezhihua81, @i9

use final execute tx hash for delayed tranfer/refund/withdrawal (#620)
  gateway/dal/lp.go
  gateway/dal/schema.sql
  gateway/dal/transfer.go
  gateway/dal/wrapper.go
  relayer/cbr_onchain.go
  relayer/cbr_utils.go
Owners: @hezhihua81, @i9

Fix delay (#621)
  gateway/dal/transfer.go
  gateway/dal/wrapper.go
  gateway/svc/lp.go
  relayer/cbr_utils.go
Owners: @hezhihua81, @i9

add terminal log for prod2 NLB/target group etc
  docs/prod2-nlb.log
Owners: none

cs tool after rm mark (#615)
  gateway/svc/cs.go
  gateway/utils/cs_util.go
  go.mod
  go.sum
Owners: none

update cbr binding
  eth/cbr_binding.go
  go.mod
  go.sum
Owners: none

Sync go binding based on contract PR 75 (#622)
  eth/bindings.go
Owners: none

improve validator sync
  relayer/eth_staking.go
Owners: none

monitor status (#623)
  gateway/dal/lp.go
  gateway/dal/transfer.go
  gateway/svc/safeguarding.go
  gateway/svc/svr.go
  gateway/utils/slack_util.go
Owners: none

fix ops sync
  ops/sync.go
Owners: none

ops sync
  ops/sync.go
Owners: none

ops sync
  ops/sync.go
Owners: none

ops sync
  ops/sync.go
Owners: none

add kms send eth tool (#626)
  go.mod
  go.sum
  tools/kms-send/main.go
Owners: none

remove tx link in transfer history if the transfer is in delayed status (#627)
  gateway/svc/transfer.go
Owners: none

change channel and refine estimate on send (#630)
  gateway/utils/slack_util.go
  go.sum
  relayer/cbr_utils.go
Owners: @hezhihua81, @i9

merge prod2 stat to explorer (#625)
  explorer/env/mainnet/config.toml
  explorer/server.go
Owners: none

ethGasPrice (#632)
  common/flags.go
  gateway/dal/incentive_rewards.go
  gateway/svc/cbr_price.go
  test/e2e/multinode/multinode_setup.go
Owners: none

syncer do not delete puller queue when verify event (#633)
  relayer/cbr_verifier.go
Owners: @hezhihua81, @i9

allow different sender/receiver addr
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

do not includ lip stat in transfer stat (#634)
  explorer/server.go
Owners: none

oracleForOptimism (#631)
  eth/OVM_GasPriceOracle_bindings.go
  eth/README.md
  gateway/svc/cbr_price.go
Owners: none

Drop gas (#619)
  gateway/dal/chain_token.go
  gateway/dal/schema.sql
  gateway/dal/wrapper.go
  gateway/gateway_test.go
  gateway/svc/cbr_price.go
  gateway/svc/config.go
  gateway/svc/cs.go
  gateway/svc/token_price_cache.go
  gateway/webapi/gateway.pb.go
  go.mod
  go.sum
  proto/sgn/gateway/v1/gateway.proto
  relayer/cbr_onchain.go
  relayer/cbr_utils.go
  test/data/.sgnd/config/sgn.toml
  test/multi-node-data/node0/sgnd/config/sgn.toml
  test/multi-node-data/node1/sgnd/config/sgn.toml
  test/multi-node-data/node2/sgnd/config/sgn.toml
  test/multi-node-data/node3/sgnd/config/sgn.toml
Owners: @hezhihua81, @i9

add explorer err check (#635)
  explorer/server.go
Owners: none

rm fix (#638)
  explorer/main/main.go
Owners: none

loglevel (#636)
  gateway/svc/cbr_price.go
Owners: none

drop-gas (#639)
  gateway/svc/cbr_price.go
Owners: none

time (#640)
  gateway/dal/incentive_rewards.go
Owners: none

add custom proxy for special chain (#456)
  common/multichain.go
  go.mod
  go.sum
  relayer/cbridge.go
Owners: none

time (#641)
  gateway/dal/incentive_rewards.go
Owners: none

Update Cosmos SDK to 0.44.5 (#642)
  go.mod
  go.sum
Owners: none

Support per chainpair,token override (#646)
  go.mod
  go.sum
  proto/sgn/cbridge/v1/cbridge.proto
  proto/sgn/cbridge/v1/query.proto
  x/cbridge/keeper/algos.go
  x/cbridge/keeper/config.go
  x/cbridge/keeper/querier.go
  x/cbridge/types/cbridge.go
  x/cbridge/types/cbridge.pb.go
  x/cbridge/types/keys.go
  x/cbridge/types/query.pb.go
Owners: @i9, @zhangqi021, @hezhihua81

update bindings and readme (#647)
  eth/README.md
  eth/bindings_cbr.go
  eth/bindings_incentive_rewards.go
  eth/bindings_ovm_gas_price_oracle.go
  eth/bindings_readme.md
Owners: none

add missing logic (#649)
  gateway/onchain/event_handler.go
  gateway/onchain/sgn_query.go
Owners: none

update-proxy-version (#644)
  go.mod
  go.sum
Owners: none

refactor cs util to use existing chain manager (#652)
  gateway/onchain/cbridge.go
  gateway/onchain/eth_query.go
  gateway/svc/cs.go
  gateway/utils/cs_util.go
Owners: none

time (#653)
  gateway/dal/incentive_rewards.go
Owners: none

CODEOWNERS:

# leading slash / means path from repo root
# if multiple matches, last match will take effect
# keep rules sorted by folder name

/proto/sgn/cbridge/v1/ @i9
/proto/sgn/cbridge/v1/query.proto @zhangqi021

/relayer/cbr_*.go @hezhihua81 @i9

/x/cbridge/ @i9
/x/cbridge/client/ @hezhihua81
x/cbridge/keeper/querier.go @hezhihua81
