Repository ermyas/sgnv2, changes with the owners that CODEOWNERS names for each.
All owners: @i9, @zhangqi021, @hezhihua81

min slippage (#567)
  gateway/svc/transfer.go
Owners: none

Fix blc alert (#568)
  gateway/svc/safeguarding.go
  gateway/svc/transfer.go
Owners: none

Open alert (#570)
  gateway/dal/lp.go
  gateway/gateway.go
Owners: none

stop alert (#572)
  gateway/utils/slack_util.go
Owners: none

filter submitting for withdraw cal (#575)
  gateway/dal/lp.go
Owners: none

filter failed status (#577)
  gateway/dal/lp.go
Owners: none

replace select * (#579)
  gateway/dal/lp.go
Owners: none

fix misplaced error log (#581)
  gateway/dal/wrapper.go
Owners: none

Add volume to lp v2 (#578)
  gateway/dal/dal.go
  gateway/dal/lp.go
  gateway/dal/schema.sql
  gateway/dal/transfer.go
  gateway/dal/wrapper.go
  gateway/fee/token_price_cache.go
  gateway/svc/lp.go
  go.mod
  go.sum
Owners: none

Fix alert (#582)
  gateway/dal/lp.go
  gateway/svc/safeguarding.go
Owners: none

init test alert (#583)
  gateway/utils/slack_util.go
Owners: none

Test alert channel (#584)
  gateway/utils/slack_util.go
Owners: none

rename channel (#585)
  gateway/utils/slack_util.go
Owners: none

rm rpc url (#502)
  gateway/dal/chain_token.go
  gateway/svc/config.go
  gateway/webapi/gateway.pb.go
  go.mod
  go.sum
  proto/sgn/gateway/v1/gateway.proto
Owners: none

rm (#589)
  cmd/sgnd/nginx.conf
Owners: none

add explorer (#560)
  explorer/dal.go
  explorer/env/local/config.toml
  explorer/env/mainnet/config.toml
  explorer/env/testnet/config.toml
  explorer/explorer.pb.go
  explorer/main/main.go
  explorer/schema.sql
  explorer/server.go
  explorer/util.go
  gateway/dal/lp.go
  gateway/dal/transfer.go
  gateway/utils/rpc_client.go
  go.mod
  go.sum
  proto/sgn/explorer/v1/explorer.proto
Owners: none

Add blc log main (#591)
  gateway/dal/lp.go
  gateway/svc/safeguarding.go
Owners: none

rm blc table (#594)
  gateway/svc/safeguarding.go
Owners: none

basic live upgrade flow (#593)
  test/e2e/manual/README.md
  test/e2e/manual/docs/live_upgrade.md
  test/e2e/manual/docs/staking.md
  x/gov/types/upgrade_proposal.go
  x/gov/upgrade_handler.go
Owners: none

min slippage 501 (#596)
  gateway/svc/transfer.go
Owners: none

update (#598)
  gateway/utils/rpc_client.go
Owners: none

Fix typo (#599)
  proto/sgn/cbridge/v1/cbridge.proto
  x/cbridge/types/cbridge.pb.go
Owners: @i9

incentive_reward (#602)
  common/flags.go
  eth/incentive_rewards_bindings.go
  gateway/dal/incentive_rewards.go
  gateway/dal/schema.sql
  gateway/dal/transfer.go
  gateway/gateway.go
  gateway/gateway_test.go
  gateway/svc/incentive_rewards.go
  gateway/svc/svr.go
  gateway/webapi/gateway.pb.go
  gateway/webapi/gateway.pb.gw.go
  go.mod
  go.sum
  proto/sgn/gateway/v1/gateway.proto
  relayer/cbr_utils.go
  test/data/.sgnd/config/sgn.toml
  test/keys/irks.json
  test/multi-node-data/node0/keys/irks.json
  test/multi-node-data/node0/sgnd/config/sgn.toml
Owners: @hezhihua81, @i9

Fix typos (#601)
  relayer/relayer.go
  test/common/cbr_sgn.go
Owners: none

Rm mark (#590)
  gateway/dal/lp.go
  gateway/dal/schema.sql
  gateway/dal/transfer.go
  gateway/dal/wrapper.go
  gateway/gateway_test.go
  gateway/svc/lp.go
  gateway/svc/transfer.go
  gateway/utils/params_check.go
  gateway/webapi/gateway.pb.go
  gateway/webapi/gateway.pb.gw.go
  proto/sgn/gateway/v1/gateway.proto
  relayer/cbr_onchain.go
  relayer/cbr_utils.go
Owners: @hezhihua81, @i9

Revert "Rm mark (#590)" (#604)
  gateway/dal/lp.go
  gateway/dal/schema.sql
  gateway/dal/transfer.go
  gateway/dal/wrapper.go
  gateway/gateway_test.go
  gateway/svc/lp.go
  gateway/svc/transfer.go
  gateway/utils/params_check.go
  gateway/webapi/gateway.pb.go
  gateway/webapi/gateway.pb.gw.go
  proto/sgn/gateway/v1/gateway.proto
  relayer/cbr_onchain.go
  relayer/cbr_utils.go
Owners: @hezhihua81, @i9

improve syncer coordination (#551)
  relayer/cbr_puller.go
  relayer/cbridge.go
  relayer/eth_puller.go
  relayer/relayer.go
  relayer/utils.go
Owners: @hezhihua81, @i9

fix explorer endtime (#608)
  explorer/server.go
Owners: none

Revert "Revert "Rm mark (#590)" (#604)" (#605)
  gateway/dal/lp.go
  gateway/dal/schema.sql
  gateway/dal/transfer.go
  gateway/dal/wrapper.go
  gateway/gateway_test.go
  gateway/svc/lp.go
  gateway/svc/transfer.go
  gateway/utils/params_check.go
  gateway/webapi/gateway.pb.go
  gateway/webapi/gateway.pb.gw.go
  proto/sgn/gateway/v1/gateway.proto
  relayer/cbr_onchain.go
  relayer/cbr_utils.go
Owners: @hezhihua81, @i9

handle aws signer key (#609)
  cmd/sgnd/impl/genvalidator.go
  ops/init_validator.go
Owners: none

relax cbr contract check
  x/cbridge/keeper/msg_server.go
Owners: @i9

Fix typo and update docs (#611)
  docs/sgnd/sgnd_ops.md
  docs/sgnd/sgnd_ops_deploy.md
  docs/sgnd/sgnd_ops_sync.md
  docs/sgnd/sgnd_ops_sync_event.md
  docs/sgnd/sgnd_ops_sync_signers.md
  gateway/svc/transfer.go
  gateway/utils/params_check.go
  proto/sgn/cbridge/v1/query.proto
  relayer/cbr_onchain.go
  relayer/cbr_utils.go
  x/cbridge/types/query.pb.go
Owners: @zhangqi021, @hezhihua81, @i9

Improve UpdateSortedSigs in cbridge (#610)
  test/common/cbr_eth.go
  x/cbridge/keeper/msg_server.go
  x/cbridge/types/signers.go
Owners: @i9

Add gov handler for setting reward contracts (#612)
  app/app.go
  common/types/contract_info.go
  proto/sgn/farming/v1/farming.proto
  proto/sgn/farming/v1/query.proto
  test/e2e/manual/data/farming_set_reward_contracts_proposal.json
  x/farming/client/cli/query.go
  x/farming/client/cli/tx.go
  x/farming/client/cli/utils.go
  x/farming/client/proposal_handler.go
  x/farming/client/rest/rest.go
  x/farming/client/rest/utils.go
  x/farming/keeper/erc20_token.go
  x/farming/keeper/genesis.go
  x/farming/keeper/grpc_querier.go
  x/farming/keeper/reward_contract.go
  x/farming/keeper/set_reward_contracts_handler.go
  x/farming/proposal_handler.go
  x/farming/types/codec.go
  x/farming/types/events.go
  x/farming/types/farming.pb.go
  x/farming/types/genesis.go
  x/farming/types/query.pb.go
  x/farming/types/query.pb.gw.go
  x/farming/types/set_reward_contracts_proposal.go
  x/mint/client/cli/tx.go
Owners: none

Update Cosmos SDK to 0.44.4 (#613)
  go.mod
  go.sum
Owners: none

Add a message to sync liquidity with farming stake (#614)
  proto/sgn/cbridge/v1/tx.proto
  proto/sgn/farming/v1/tx.proto
  x/cbridge/handler.go
  x/cbridge/keeper/msg_server.go
  x/cbridge/types/msgs.go
  x/cbridge/types/tx.pb.go
  x/distribution/types/errors.go
  x/distribution/types/msgs.go
  x/farming/types/msgs.go
Owners: @i9

minor fix
  relayer/relayer.go
Owners: none

Delay (#580)
  gateway/dal/schema.sql
  gateway/dal/transfer.go
  gateway/dal/wrapper.go
  gateway/gateway.go
  gateway/svc/svr.go
  relayer/cbr_onchain.go
  relayer/cbr_utils.go
  test/multi-node-data/geth-env/mainchain_genesis.json
  test/multi-node-data/geth2-env/mainchain_genesis.json
  test/multi-node-data/node0/sgnd/config/cbridge.toml
Owners: @hezhihua81, @i9

validate chain when verifying events
  relayer/cbr_verifier.go
Owners: @hezhihua81, @i9

refine the init sequence
  relayer/cbr_verifier.go
  relayer/relayer.go
Owners: @hezhihua81, @i9

CODEOWNERS:

# leading slash / means path from repo root
# if multiple matches, last match will take effect
# keep rules sorted by folder name

/proto/sgn/cbridge/v1/ @i9
/proto/sgn/cbridge/v1/query.proto @zhangqi021

/relayer/cbr_*.go @hezhihua81 @i9

/x/cbridge/ @i9
/x/cbridge/client/ @hezhihua81
x/cbridge/keeper/querier.go @hezhihua81
