Repository ermyas/sgnv2, changes with the owners that CODEOWNERS names for each.
All owners: @i9, @zhangqi021, @hezhihua81

CODEOWNERS:

# leading slash / means path from repo root
# if multiple matches, last match will take effect
# keep rules sorted by folder name

/proto/sgn/cbridge/v1/ @i9
/proto/sgn/cbridge/v1/query.proto @zhangqi021

/relayer/cbr_*.go @hezhihua81 @i9

/x/cbridge/ @i9
/x/cbridge/client/ @hezhihua81
x/cbridge/keeper/querier.go @hezhihua81

enlarge cache expire duration
  gateway/svc/info.go
  gateway/svc/ttl_cache.go
Owners: none

fix cache (#452)
  gateway/svc/info.go
  gateway/svc/svr.go
  gateway/svc/ttl_cache.go
Owners: none

add and update logs
  relayer/cbr_onchain.go
  relayer/cbr_puller.go
  seal/seal.pb.go
  seal/seal.proto
  transactor/transactor.go
Owners: @hezhihua81, @i9

disable msg detailed log
  transactor/transactor.go
Owners: none

cache db chain and token (#453)
  gateway/dal/chain_token.go
  gateway/dal/db_ttl_cache.go
  gateway/svc/ttl_cache.go
Owners: none

Add maxEventsPerUpdate and maxMsgsPerTx (#454)
  relayer/cbr_puller.go
  transactor/transactor.go
Owners: @hezhihua81, @i9

solveY when m=n=1, also del evrelay in kv (#432)
  x/cbridge/client/cli/query.go
  x/cbridge/keeper/algos.go
  x/cbridge/keeper/algos_test.go
  x/cbridge/keeper/apply.go
  x/cbridge/keeper/getset.go
  x/cbridge/types/keys.go
Owners: @hezhihua81, @i9

fix base fee condition (#450)
  go.mod
  go.sum
  x/cbridge/keeper/transfer.go
Owners: @i9

Return early if any farming error occurs (#458)
  x/cbridge/keeper/keeper.go
Owners: @i9

update log
  relayer/cbr_onchain.go
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

refine log level (#455)
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

Safeguards (#457)
  gateway/dal/lp.go
  gateway/gateway.go
  gateway/gateway_test.go
  gateway/svc/info.go
  gateway/svc/lp.go
  gateway/svc/safeguarding.go
  gateway/svc/svr.go
  gateway/utils/slack_util.go
  go.mod
  go.sum
Owners: none

add 3000 bot (#459)
  gateway/utils/campaign_bots.go
Owners: none

stop balance alert (#460)
  gateway/svc/svr.go
Owners: none

update relayer log
  go.mod
  go.sum
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

Stop balance alert (#463)
  gateway/svc/lp.go
Owners: none

refine (#464)
  gateway/svc/lp.go
Owners: none

Add USDT reward to localnet genesis (#461)
  test/common/deployer.go
  test/data/.sgnd/config/genesis.json
  test/e2e/multinode/multinode_setup.go
  test/multi-node-data/node0/sgnd/config/genesis.json
  test/multi-node-data/node1/sgnd/config/genesis.json
  test/multi-node-data/node2/sgnd/config/genesis.json
  test/multi-node-data/node3/sgnd/config/genesis.json
Owners: none

add err (#465)
  gateway/svc/lp.go
  gateway/svc/safeguarding.go
  gateway/svc/transfer.go
  gateway/utils/params_check.go
  gateway/webapi/gateway.pb.go
  go.mod
  go.sum
  proto/sgn/gateway/v1/gateway.proto
Owners: none

add as more as possible msgs into tx (#467)
  transactor/transactor.go
Owners: none

fix token cache lock (#468)
  gateway/dal/db_ttl_cache.go
Owners: none

add as more as possible updates into one msg (#469)
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

fix bug (#470)
  relayer/cbr_puller.go
  transactor/transactor.go
Owners: @hezhihua81, @i9

eLog.Data is used in cbr_verifier (#472)
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

fix bug (#473)
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

update cbr contract binding
  eth/cbr_binding.go
Owners: none

try to split the msg if the msg is too large (#474)
  transactor/transactor.go
Owners: none

fix bug (#475)
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

add gas gwei (#471)
  common/multichain.go
  relayer/cbridge.go
Owners: none

submit_relay_cli (#466)
  ops/sync.go
  relayer/cbr_puller.go
  relayer/cbr_utils.go
  x/cbridge/keeper/querier.go
  x/cbridge/types/signers.go
Owners: @hezhihua81, @i9

add debug info
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

add debug info
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

add debug info
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

refine relay submission, to check sgn firstly
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

Farming token (#476)
  gateway/svc/farming.go
  gateway/svc/info.go
  gateway/svc/ttl_cache.go
  gateway/webapi/gateway.pb.go
  proto/sgn/gateway/v1/gateway.proto
Owners: none

temp code to recover testnet
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

fix typo
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

update cbr contract binding
  eth/cbr_binding.go
Owners: none

split doCbridge into doCbridgeSync and doCbridgeOnchain (#477)
  relayer/cbr_puller.go
  relayer/relayer.go
Owners: @hezhihua81, @i9

fix tool
  tools/cbridge/cmd/owner.go
Owners: none
