Repository ermyas/sgnv2, changes with the owners that CODEOWNERS names for each.
All owners: @i9, @zhangqi021, @hezhihua81

CODEOWNERS:

# leading slash / means path from repo root
# if multiple matches, last match will take effect
# keep rules sorted by folder name

/proto/sgn/cbridge/v1/ @i9
/proto/sgn/cbridge/v1/query.proto @zhangqi021

/relayer/cbr_*.go @hezhihua81 @i9

/x/cbridge/ @i9
/x/cbridge/client/ @hezhihua81
x/cbridge/keeper/querier.go @hezhihua81

refine cbrconfig gov (#780)
  x/cbridge/keeper/config.go
Owners: @i9

improve peg relayer/syncer (#781)
  go.sum
  relayer/pegbr_puller.go
Owners: none

improve peg relayer/syncer (#781)
  go.sum
  relayer/pegbr_puller.go
Owners: none

simpler kms tool (#783)
  tools/awskms/main.go
Owners: none

allow refund without sig (#776) (#784)
  x/cbridge/keeper/algos.go
  x/cbridge/keeper/msg_server.go
  x/cbridge/keeper/withdraw.go
Owners: @i9

Fix MintInfo and WithdrawInfo display strings (#782)
  x/pegbridge/types/pegbridge.go
Owners: none

Fix GetFeeClaimInfoKey (#786)
  x/pegbridge/types/keys.go
Owners: none

Fix GetFeeClaimInfoKey (#786)
  x/pegbridge/types/keys.go
Owners: none

Fix MintInfo and WithdrawInfo display strings (#782) (#785)
  go.sum
  x/pegbridge/types/pegbridge.go
Owners: none

fix nil error panic
  relayer/cbr_puller.go
  relayer/pegbr_puller.go
Owners: @hezhihua81, @i9

fix nil error panic
  relayer/cbr_puller.go
  relayer/pegbr_puller.go
Owners: @hezhihua81, @i9

add chainId to err log
  go.mod
  relayer/cbr_onchain.go
  relayer/pegbr_onchain.go
Owners: @hezhihua81, @i9

add chainId to err log
  go.mod
  relayer/cbr_onchain.go
  relayer/pegbr_onchain.go
Owners: @hezhihua81, @i9

Set event sub channel capacity to 2 for cbr/pegbr (#788)
  relayer/sgnchain.go
Owners: none

Set event sub channel capacity to 2 for cbr/pegbr (#788) (#789)
  go.mod
  relayer/sgnchain.go
Owners: none

sgn transactor delay on start (#790)
  ops/sync_farming.go
  relayer/operator.go
  test/common/sgnchain.go
  test/e2e/manual/localnet.go
  transactor/transactor.go
  transactor/transactor_pool.go
Owners: none

sgn transactor delay on start (#790)
  ops/sync_farming.go
  relayer/operator.go
  test/common/sgnchain.go
  test/e2e/manual/localnet.go
  transactor/transactor.go
  transactor/transactor_pool.go
Owners: none

fix: return during loop (#792)
  relayer/sgnchain.go
Owners: none

fix: return during loop (#792) (#793)
  relayer/sgnchain.go
Owners: none

BE-1045&1021: handle supply, refund deposit (#787)
  app/app.go
  proto/sgn/pegbridge/v1/pegbridge.proto
  proto/sgn/pegbridge/v1/query.proto
  proto/sgn/pegbridge/v1/tx.proto
  relayer/sgnchain.go
  test/common/cbr_sgn.go
  test/e2e/multinode/multinode_setup.go
  test/e2e/multinode/pegbridge_test.go
  x/pegbridge/client/cli/query.go
  x/pegbridge/client/cli/tx.go
  x/pegbridge/client/peg_change_proposal.go
  x/pegbridge/handler.go
  x/pegbridge/keeper/apply.go
  x/pegbridge/keeper/grpc_querier.go
  x/pegbridge/keeper/msg_server.go
  x/pegbridge/keeper/request_infos.go
  x/pegbridge/pegproposal_handler.go
  x/pegbridge/types/keys.go
  x/pegbridge/types/msgs.go
  x/pegbridge/types/peg_proposal.go
  x/pegbridge/types/pegbridge.go
  x/pegbridge/types/pegbridge.pb.go
  x/pegbridge/types/query.pb.go
  x/pegbridge/types/query.pb.gw.go
  x/pegbridge/types/tx.pb.go
Owners: none

Add a few flags to kms-send (#795)
  tools/kms-send/README.md
  tools/kms-send/main.go
Owners: none

Add a few flags to kms-send (#795) (#796)
  tools/kms-send/README.md
  tools/kms-send/main.go
Owners: none

add extra_power10 to AssetPrice (#798)
  proto/sgn/cbridge/v1/cbridge.proto
  x/cbridge/keeper/algos.go
  x/cbridge/keeper/getset.go
  x/cbridge/types/cbridge.pb.go
  x/cbridge/types/keys.go
Owners: @i9

Make kms-send safer (#802)
  tools/kms-send/main.go
Owners: none

Make kms-send safer (#802) (#803)
  tools/kms-send/main.go
Owners: none

add extra_power10 to AssetPrice (#798) (#800)
  proto/sgn/cbridge/v1/cbridge.proto
  x/cbridge/keeper/algos.go
  x/cbridge/keeper/getset.go
  x/cbridge/types/cbridge.pb.go
  x/cbridge/types/keys.go
Owners: @i9

fix pegbridge event verification (#799)
  eth/utils.go
  ops/sync.go
  relayer/cbr_verifier.go
  relayer/pegbr_verifier.go
Owners: @hezhihua81, @i9

Add aws-kms-tools for external validators (#804)
  tools/aws-kms-send/README.md
  tools/aws-kms-send/main.go
  tools/aws-kms-test/main.go
  tools/aws-kms-tools/impl/common.go
  tools/aws-kms-tools/impl/print_address.go
  tools/aws-kms-tools/impl/root.go
  tools/aws-kms-tools/impl/send_tx.go
  tools/aws-kms-tools/impl/sign_message.go
  tools/aws-kms-tools/main.go
Owners: none

add pending nonce check (#806)
  relayer/cbr_onchain.go
  relayer/cbr_puller.go
  relayer/pegbr_onchain.go
  relayer/pegbr_puller.go
Owners: @hezhihua81, @i9

add pending nonce check (#806)
  relayer/cbr_onchain.go
  relayer/cbr_puller.go
  relayer/pegbr_onchain.go
  relayer/pegbr_puller.go
Owners: @hezhihua81, @i9

Add update relay gas cost (#797)
  proto/sgn/cbridge/v1/cbridge.proto
  x/cbridge/keeper/config.go
  x/cbridge/keeper/getset.go
  x/cbridge/keeper/signers.go
  x/cbridge/types/cbridge.pb.go
Owners: @i9

Add update relay gas cost (#797) (#808)
  proto/sgn/cbridge/v1/cbridge.proto
  x/cbridge/keeper/config.go
  x/cbridge/keeper/getset.go
  x/cbridge/keeper/signers.go
  x/cbridge/types/cbridge.pb.go
Owners: @i9

fix pegbridge event verification (#799) (#805)
  eth/utils.go
  ops/sync.go
  relayer/cbr_verifier.go
  relayer/pegbr_verifier.go
Owners: @hezhihua81, @i9

report_git_commit_hash (#811)
  proto/sgn/health/v1/health.proto
  relayer/cbr_utils.go
  relayer/health.pb.go
Owners: @hezhihua81, @i9

report_git_commit_hash (#811) (#812)
  proto/sgn/health/v1/health.proto
  relayer/cbr_utils.go
  relayer/health.pb.go
Owners: @hezhihua81, @i9

make pegbr refund be consistent with cbridge refund (#809)
  proto/sgn/pegbridge/v1/tx.proto
  test/common/cbr_sgn.go
  test/e2e/multinode/pegbridge_test.go
  x/pegbridge/keeper/msg_server.go
  x/pegbridge/types/tx.pb.go
Owners: none

Support claiming validator commission (#813)
  test/common/cbr_eth.go
  test/common/cbr_sgn.go
  test/common/framework.go
  test/e2e/multinode/cbridge_test.go
  test/e2e/multinode/pegbridge_test.go
  x/distribution/keeper/fees.go
  x/distribution/keeper/msg_server.go
  x/distribution/keeper/reward.go
Owners: none

fix a bug for pegbr refund (#815)
  relayer/sgnchain.go
Owners: none

update endpoint proxy to v0.1.1 (#817)
  go.mod
  go.sum
Owners: none

update proxy (#818)
  go.mod
  go.sum
Owners: none
