Repository ermyas/sgnv2, changes with the owners that CODEOWNERS names for each.
All owners: @i9, @zhangqi021, @hezhihua81

CODEOWNERS:

# leading slash / means path from repo root
# if multiple matches, last match will take effect
# keep rules sorted by folder name

/proto/sgn/cbridge/v1/ @i9
/proto/sgn/cbridge/v1/query.proto @zhangqi021

/relayer/cbr_*.go @hezhihua81 @i9

/x/cbridge/ @i9
/x/cbridge/client/ @hezhihua81
x/cbridge/keeper/querier.go @hezhihua81

Pegbr refund (#819)
  proto/sgn/pegbridge/v1/pegbridge.proto
  proto/sgn/pegbridge/v1/query.proto
  proto/sgn/pegbridge/v1/tx.proto
  test/common/cbr_eth.go
  test/common/cbr_sgn.go
  test/e2e/multinode/multinode_setup.go
  test/e2e/multinode/pegbridge_test.go
  test/multi-node-data/node0/sgnd/config/genesis.json
  test/multi-node-data/node1/sgnd/config/genesis.json
  test/multi-node-data/node2/sgnd/config/genesis.json
  test/multi-node-data/node3/sgnd/config/genesis.json
  x/pegbridge/client/cli/query.go
  x/pegbridge/keeper/apply.go
  x/pegbridge/keeper/grpc_querier.go
  x/pegbridge/keeper/msg_server.go
  x/pegbridge/keeper/request_infos.go
  x/pegbridge/pegproposal_handler.go
  x/pegbridge/types/keys.go
  x/pegbridge/types/pegbridge.go
  x/pegbridge/types/pegbridge.pb.go
  x/pegbridge/types/query.pb.go
  x/pegbridge/types/tx.pb.go
Owners: none

codec update (#822)
  go.sum
  x/pegbridge/keeper/apply.go
  x/pegbridge/types/codec.go
Owners: none

refine code (#825)
  relayer/sgnchain.go
Owners: none

report_lp_fee (#823)
  common/flags.go
  proto/sgn/health/v1/health.proto
  relayer/analytics_report.go
  relayer/cbr_utils.go
  relayer/health.pb.go
  relayer/relayer.go
  test/data/.sgnd/config/sgn.toml
  test/multi-node-data/node0/sgnd/config/sgn.toml
  x/cbridge/keeper/algos.go
  x/cbridge/keeper/apply.go
  x/cbridge/keeper/transfer.go
  x/cbridge/keeper/withdraw.go
Owners: @hezhihua81, @i9

pegbr refund (#829)
  app/app.go
  proto/sgn/pegbridge/v1/pegbridge.proto
  proto/sgn/pegbridge/v1/query.proto
  proto/sgn/pegbridge/v1/tx.proto
  relayer/sgnchain.go
  test/common/cbr_eth.go
  test/common/cbr_sgn.go
  test/e2e/multinode/multinode_setup.go
  test/e2e/multinode/pegbridge_test.go
  test/multi-node-data/node0/sgnd/config/genesis.json
  test/multi-node-data/node1/sgnd/config/genesis.json
  test/multi-node-data/node2/sgnd/config/genesis.json
  test/multi-node-data/node3/sgnd/config/genesis.json
  x/pegbridge/client/cli/query.go
  x/pegbridge/client/cli/tx.go
  x/pegbridge/client/peg_change_proposal.go
  x/pegbridge/handler.go
  x/pegbridge/keeper/apply.go
  x/pegbridge/keeper/grpc_querier.go
  x/pegbridge/keeper/msg_server.go
  x/pegbridge/keeper/request_infos.go
  x/pegbridge/pegproposal_handler.go
  x/pegbridge/types/codec.go
  x/pegbridge/types/keys.go
  x/pegbridge/types/msgs.go
  x/pegbridge/types/peg_proposal.go
  x/pegbridge/types/pegbridge.go
  x/pegbridge/types/pegbridge.pb.go
  x/pegbridge/types/query.pb.go
  x/pegbridge/types/query.pb.gw.go
  x/pegbridge/types/tx.pb.go
Owners: none

Revert "report_lp_fee (#823)" (#832)
  common/flags.go
  proto/sgn/health/v1/health.proto
  relayer/analytics_report.go
  relayer/cbr_utils.go
  relayer/health.pb.go
  relayer/relayer.go
  test/data/.sgnd/config/sgn.toml
  test/multi-node-data/node0/sgnd/config/sgn.toml
  x/cbridge/keeper/algos.go
  x/cbridge/keeper/apply.go
  x/cbridge/keeper/transfer.go
  x/cbridge/keeper/withdraw.go
Owners: @hezhihua81, @i9

Refund refine (#831)
  proto/sgn/pegbridge/v1/pegbridge.proto
  relayer/sgnchain.go
Owners: none

batch add farming pool and adjust farming pool (#820)
  app/app.go
  proto/sgn/farming/v1/farming.proto
  x/farming/client/cli/tx.go
  x/farming/client/cli/utils.go
  x/farming/client/proposal_handler.go
  x/farming/client/rest/rest.go
  x/farming/client/rest/utils.go
  x/farming/keeper/add_pool_proposal_handler.go
  x/farming/keeper/adjust_reward_proposal_handler.go
  x/farming/keeper/batch_add_pool_proposal_handler.go
  x/farming/keeper/batch_adjust_reward_proposal_handler.go
  x/farming/proposal_handler.go
  x/farming/types/add_pool_proposal.go
  x/farming/types/adjust_reward_proposal.go
  x/farming/types/batch_add_pool_proposal.go
  x/farming/types/batch_adjust_reward_proposal.go
  x/farming/types/codec.go
  x/farming/types/farming.pb.go
Owners: none

batch add farming pool and adjust farming pool (#820) (#834)
  app/app.go
  proto/sgn/farming/v1/farming.proto
  x/farming/client/cli/tx.go
  x/farming/client/cli/utils.go
  x/farming/client/proposal_handler.go
  x/farming/client/rest/rest.go
  x/farming/client/rest/utils.go
  x/farming/keeper/add_pool_proposal_handler.go
  x/farming/keeper/adjust_reward_proposal_handler.go
  x/farming/keeper/batch_add_pool_proposal_handler.go
  x/farming/keeper/batch_adjust_reward_proposal_handler.go
  x/farming/proposal_handler.go
  x/farming/types/add_pool_proposal.go
  x/farming/types/adjust_reward_proposal.go
  x/farming/types/batch_add_pool_proposal.go
  x/farming/types/batch_adjust_reward_proposal.go
  x/farming/types/codec.go
  x/farming/types/farming.pb.go
Owners: none

validator claim fee cli (#821)
  ops/common.go
  ops/ops.go
  ops/submit_relay.go
  ops/withdraw_fee.go
  proto/sgn/cbridge/v1/tx.proto
  proto/sgn/pegbridge/v1/tx.proto
  relayer/cbr_price_puller.go
  relayer/cbr_utils.go
  test/common/cbr_sgn.go
  test/e2e/manual/data/claim_fee.txt
  test/e2e/manual/docs/cbridge.md
  test/e2e/manual/localnet.go
  test/e2e/multinode/cbridge_test.go
  test/e2e/multinode/gov_test.go
  test/e2e/multinode/multinode_setup.go
  test/e2e/multinode/pegbridge_test.go
  test/e2e/multinode/slash_test.go
  test/e2e/multinode/staking_test.go
  transactor/transactor.go
  x/cbridge/client/cli/query.go
  x/cbridge/client/cli/tx.go
  x/cbridge/keeper/msg_server.go
  x/cbridge/keeper/withdraw.go
  x/cbridge/types/tx.pb.go
  x/pegbridge/keeper/msg_server.go
  x/pegbridge/types/tx.pb.go
Owners: @i9, @hezhihua81

increase signer transctor polling interval (#833)
  relayer/cbridge.go
Owners: none

increase signer transctor polling interval (#833)
  relayer/cbridge.go
Owners: none

Attribute base fee to active syncer (#816)
  app/app.go
  test/e2e/multinode/cbridge_test.go
  x/cbridge/keeper/algos.go
  x/cbridge/keeper/fee_share.go
  x/cbridge/keeper/getset.go
  x/cbridge/keeper/transfer.go
  x/cbridge/module.go
  x/cbridge/types/expected_keepers.go
  x/pegbridge/keeper/amount_fees.go
  x/pegbridge/keeper/apply.go
  x/pegbridge/module.go
  x/pegbridge/types/expected_keepers.go
Owners: @i9

Add no-op migrators in cbridge and pegbridge
  x/cbridge/keeper/migrations.go
  x/cbridge/module.go
  x/pegbridge/keeper/migrations.go
  x/pegbridge/module.go
Owners: @i9

add query to improve validator claim fee process (#837)
  proto/sgn/cbridge/v1/query.proto
  test/e2e/manual/docs/cbridge.md
  x/cbridge/client/cli/query.go
  x/cbridge/keeper/grpc_querier.go
  x/cbridge/types/query.pb.go
  x/pegbridge/types/pegbridge.pb.go
Owners: @zhangqi021, @hezhihua81, @i9

cherry-pick validator fee to prod (#836)
  docker-compose.yml
  ops/common.go
  ops/ops.go
  ops/submit_relay.go
  ops/withdraw_fee.go
  proto/sgn/cbridge/v1/query.proto
  proto/sgn/cbridge/v1/tx.proto
  proto/sgn/pegbridge/v1/tx.proto
  relayer/cbr_price_puller.go
  relayer/cbr_utils.go
  test/common/cbr_eth.go
  test/common/cbr_sgn.go
  test/common/framework.go
  test/e2e/manual/data/claim_fee.txt
  test/e2e/manual/docs/cbridge.md
  test/e2e/manual/localnet.go
  test/e2e/multinode/cbridge_test.go
  test/e2e/multinode/multinode_setup.go
  test/e2e/multinode/pegbridge_test.go
  transactor/transactor.go
  x/cbridge/client/cli/query.go
  x/cbridge/client/cli/tx.go
  x/cbridge/keeper/grpc_querier.go
  x/cbridge/keeper/msg_server.go
  x/cbridge/keeper/withdraw.go
  x/cbridge/types/query.pb.go
  x/cbridge/types/tx.pb.go
  x/distribution/keeper/fees.go
  x/distribution/keeper/msg_server.go
  x/distribution/keeper/reward.go
  x/pegbridge/keeper/msg_server.go
  x/pegbridge/types/pegbridge.pb.go
  x/pegbridge/types/tx.pb.go
Owners: @zhangqi021, @i9, @hezhihua81

report LP pick history (merge to main) (#828)
  common/flags.go
  proto/sgn/health/v1/health.proto
  relayer/analytics_report.go
  relayer/cbr_utils.go
  relayer/health.pb.go
  relayer/relayer.go
  test/data/.sgnd/config/sgn.toml
  test/multi-node-data/gateway/sgnd/config/sgn.toml
  test/multi-node-data/node0/sgnd/config/sgn.toml
  tools/cbridge/README.md
  x/cbridge/keeper/algos.go
Owners: @hezhihua81, @i9

update-proxy-for-astar (#840)
  go.mod
  go.sum
Owners: none

update proxy for star (#841)
  go.mod
  go.sum
Owners: none

Sync go binding based on contract PR 106
  eth/bindings.go
Owners: none

log nit
  ops/withdraw_fee.go
Owners: none

report LP pick history (cherry pick to prod2) (#827)
  common/flags.go
  proto/sgn/health/v1/health.proto
  relayer/analytics_report.go
  relayer/cbr_utils.go
  relayer/health.pb.go
  relayer/relayer.go
  test/data/.sgnd/config/sgn.toml
  test/multi-node-data/gateway/sgnd/config/sgn.toml
  test/multi-node-data/node0/sgnd/config/sgn.toml
  tools/cbridge/README.md
  x/cbridge/keeper/algos.go
Owners: @hezhihua81, @i9

override-asserPriceExtraPower10 (#843)
  x/cbridge/keeper/getset.go
Owners: @i9

Upgrade goutils to v0.1.42 (#842)
  go.mod
  go.sum
Owners: none

override-asserPriceExtraPower10 (#843) (#845)
  x/cbridge/keeper/getset.go
Owners: @i9

validator claim pegbridge fee (#835)
  ops/common.go
  ops/ops.go
  ops/submit_relay.go
  ops/sync.go
  ops/withdraw_fee.go
  test/common/cbr_sgn.go
  test/e2e/multinode/pegbridge_test.go
  x/cbridge/client/cli/query.go
  x/cbridge/client/cli/tx.go
  x/pegbridge/client/cli/query.go
  x/pegbridge/client/cli/tx.go
  x/pegbridge/types/msgs.go
Owners: @hezhihua81

Create cbridge-walkthrough.md (#851)
  docs/cbridge-walkthrough.md
Owners: none

bridge event check interval (#852)
  common/flags.go
  common/multichain.go
  relayer/cbr_onchain.go
  relayer/cbr_utils.go
  relayer/cbridge.go
  relayer/msgbr_onchain.go
  relayer/msgbr_puller.go
  relayer/msgbr_verifier.go
  relayer/pegbr_onchain.go
  relayer/sgnchain.go
  relayer/utils.go
  test/multi-node-data/node0/sgnd/config/cbridge.toml
  x/message/keeper/apply.go
Owners: @hezhihua81, @i9

validator_fee_share_report (#846)
  proto/sgn/health/v1/health.proto
  relayer/analytics_report.go
  relayer/health.pb.go
  tools/cbridge/manual_test_cbridge.toml
  x/cbridge/keeper/algos.go
  x/cbridge/keeper/getset.go
  x/cbridge/keeper/transfer.go
  x/pegbridge/keeper/amount_fees.go
  x/pegbridge/keeper/apply.go
Owners: @i9

add missing return in verifyEventLog
  relayer/cbr_verifier.go
Owners: @hezhihua81, @i9

update proxy support for shiden (#855)
  go.mod
  go.sum
Owners: none

limit the cases to run
  .github/workflows/run_multinode_tests_all.yml
  .github/workflows/run_multinode_tests_smoke.yml
Owners: none

update workflow name
  .github/workflows/run_multinode_tests_all.yml
  .github/workflows/run_multinode_tests_smoke.yml
Owners: none

Msg refactor (#856)
  relayer/msgbr_verifier.go
  x/cbridge/keeper/getset.go
  x/cbridge/keeper/grpc_querier.go
  x/message/keeper/apply.go
  x/message/keeper/refund.go
  x/message/types/execution_context.go
  x/message/types/expected_keepers.go
Owners: @i9

fix typo
  .github/workflows/run_multinode_tests_smoke.yml
Owners: none

only run msg cases when msg change
  .github/workflows/run_multinode_tests_msg.yml
Owners: none

update workflow name
  .github/workflows/run_multinode_tests_msg.yml
Owners: none

Remove aws-kms-send and aws-kms-test (#862)
  tools/aws-kms-send/README.md
  tools/aws-kms-send/main.go
  tools/aws-kms-test/main.go
  tools/aws-kms-tools/clear_stuck_tx.md
Owners: none

Executor (#860)
  eth/bindings_msg.go
  executor/Dockerfile
  executor/chain.go
  executor/const.go
  executor/dal.go
  executor/executor.go
  executor/gateway.go
  executor/main/main.go
  executor/sgn.go
  executor/types/gateway.pb.go
  go.mod
  go.sum
  test/e2e/multinode/multinode_setup.go
  test/multi-node-data/executor/config/executor.toml
Owners: none

Msg peg refund (#864)
  executor/chain.go
  executor/const.go
  executor/dal.go
  executor/executor.go
  executor/gateway.go
  executor/sgn.go
  executor/types/status.go
  go.mod
  go.sum
  test/common/framework.go
  test/common/utils.go
  test/e2e/manual/localnet.go
  test/e2e/multinode/e2e_test.go
  test/e2e/multinode/message_test.go
  test/e2e/multinode/multinode_setup.go
  x/message/keeper/apply.go
  x/message/keeper/refund.go
  x/message/types/execution_context.go
  x/message/types/expected_keepers.go
  x/message/types/message.go
Owners: none
