Repository ermyas/sgnv2, changes with the owners that CODEOWNERS names for each.
All owners: @i9, @zhangqi021, @hezhihua81

CODEOWNERS:

# leading slash / means path from repo root
# if multiple matches, last match will take effect
# keep rules sorted by folder name

/proto/sgn/cbridge/v1/ @i9
/proto/sgn/cbridge/v1/query.proto @zhangqi021

/relayer/cbr_*.go @hezhihua81 @i9

/x/cbridge/ @i9
/x/cbridge/client/ @hezhihua81
x/cbridge/keeper/querier.go @hezhihua81

Update goutils (#988)
  go.mod
  go.sum
Owners: none

Update goutils to v0.1.49 (#990)
  go.mod
  go.sum
Owners: none

Update README.md
  tools/nft-bridge/README.md
Owners: none

Create .env.example
  tools/nft-bridge/.env.example
Owners: none

add testnet.json, update binding (#992)
  tools/nft-bridge/bind_msgbus_recv.go
  tools/nft-bridge/onchain.go
  tools/nft-bridge/sgn.go
  tools/nft-bridge/testnet.json
Owners: none

Update README.md
  tools/nft-bridge/README.md
Owners: none

Fix nftbr_test.toml Goerli msgbus address
  tools/nft-bridge/nftbr_test.toml
Owners: none

improve msg logs and cli (#993)
  eth/utils.go
  ops/common.go
  ops/message.go
  ops/ops.go
  ops/sync.go
  relayer/cbr_utils.go
  relayer/cbr_verifier.go
  relayer/msgbr_onchain.go
  relayer/msgbr_puller.go
  relayer/msgbr_verifier.go
  relayer/pegbr_verifier.go
  relayer/sgnchain.go
  test/common/cbr_sgn.go
  x/message/client/cli/query.go
  x/message/keeper/apply.go
  x/message/keeper/msg_server.go
  x/pegbridge/types/pegbridge.go
Owners: @hezhihua81, @i9

update submit-relay
  ops/submit_relay.go
Owners: none

tools: add common rpc
  tools/aws-kms-tools/impl/common.go
Owners: none

fix msg cli
  x/message/client/cli/query.go
Owners: none

add flow tx err check, update flow dep (#994)
  go.mod
  go.sum
  relayer/nonevm_flow.go
  test/e2e/multinode/multinode_setup.go
  x/pegbridge/keeper/amount_fees.go
Owners: none

update msg contract bindings
  eth/bindings_msg.go
  test/contracts/bindings_msg_apps.go
Owners: none

update sign log
  relayer/sgnchain.go
Owners: none

log nit
  x/cbridge/keeper/msg_server.go
Owners: @i9

fix flow e2e test (#997)
  go.mod
  go.sum
  relayer/pegbr_puller.go
  test/common/cbr_eth.go
  test/common/deployer.go
  test/common/framework.go
  test/e2e/multinode/multinode_setup.go
  test/e2e/multinode/pegbridge_flow_test.go
  test/multi-node-data/node0/sgnd/config/genesis.json
  test/multi-node-data/node1/sgnd/config/genesis.json
  test/multi-node-data/node2/sgnd/config/genesis.json
  test/multi-node-data/node3/sgnd/config/genesis.json
Owners: none

fix flow refund (#998)
  x/pegbridge/keeper/apply.go
Owners: none

ignore flow sender for partner (#999)
  go.mod
  go.sum
  relayer/nonevm_flow.go
  relayer/pegbr_onchain.go
Owners: none

fix-flow-refund-wdId (#1000)
  x/pegbridge/keeper/msg_server.go
Owners: none

fix flow burn refund (#1001)
  x/pegbridge/keeper/msg_server.go
Owners: none

Add upgrade handler for v1.7.0
  app/app.go
  x/pegbridge/keeper/apply.go
  x/pegbridge/keeper/contract_infos.go
Owners: none

Update generated docs
  docs/sgnd/sgnd_ops_bridge.md
  docs/sgnd/sgnd_ops_bridge_query-message.md
  docs/sgnd/sgnd_ops_bridge_submit-relay.md
  docs/sgnd/sgnd_ops_bridge_trigger-set-refund.md
  docs/sgnd/sgnd_query_cbridge.md
  docs/sgnd/sgnd_query_cbridge_lp-balance.md
  docs/sgnd/sgnd_query_message.md
  docs/sgnd/sgnd_query_message_exe-ctx.md
  docs/sgnd/sgnd_query_message_exec-ctxs.md
Owners: none

update ci scripts
  .github/workflows/run_multinode_tests_all.yml
  .github/workflows/run_multinode_tests_msg.yml
  .github/workflows/run_multinode_tests_smoke.yml
Owners: none

fix flow mint ut (#1003)
  test/common/cbr_eth.go
  test/e2e/multinode/multinode_setup.go
Owners: none

handle flow nil client (#1004)
  relayer/sgnchain.go
Owners: none

fix event compare for fantom (#1002)
  .github/workflows/run_multinode_tests_all.yml
  .github/workflows/run_multinode_tests_msg.yml
  .github/workflows/run_multinode_tests_smoke.yml
  eth/evcmp.go
  eth/evstr.go
  eth/utils.go
  relayer/cbr_verifier.go
  relayer/msgbr_verifier.go
  relayer/pegbr_verifier.go
Owners: @hezhihua81, @i9

log nit
  eth/evstr.go
Owners: none

handle empty flow signer (#1005)
  relayer/nonevm_flow.go
Owners: none

Add release workflow (#1006)
  .github/workflows/release.yml
Owners: none

Fix release workflow
  .github/workflows/release.yml
Owners: none

Add release workflow (#1006)
  .github/workflows/release.yml
Owners: none

Fix release workflow
  .github/workflows/release.yml
Owners: none

Ignore parent directory in release tarball
  .github/workflows/release.yml
Owners: none

Ignore parent directory in release tarball
  .github/workflows/release.yml
Owners: none

update transactor logs (#1008)
  eth/utils.go
  go.mod
  go.sum
  relayer/cbr_onchain.go
  relayer/cbr_puller.go
  relayer/pegbr_onchain.go
  relayer/pegbr_puller.go
  x/pegbridge/keeper/apply.go
Owners: @hezhihua81, @i9

update transactor logs (#1008)
  eth/utils.go
  go.mod
  go.sum
  relayer/cbr_onchain.go
  relayer/cbr_puller.go
  relayer/pegbr_onchain.go
  relayer/pegbr_puller.go
  x/pegbridge/keeper/apply.go
Owners: @hezhihua81, @i9

improve kms tool: option to use sgnd cfg file
  tools/aws-kms-tools/clear_stuck_tx.md
  tools/aws-kms-tools/impl/common.go
  tools/aws-kms-tools/impl/print_nonce.go
  tools/aws-kms-tools/impl/root.go
  tools/aws-kms-tools/impl/send_tx.go
Owners: none

improve kms tool: option to use sgnd cfg file
  tools/aws-kms-tools/clear_stuck_tx.md
  tools/aws-kms-tools/impl/common.go
  tools/aws-kms-tools/impl/print_nonce.go
  tools/aws-kms-tools/impl/root.go
  tools/aws-kms-tools/impl/send_tx.go
Owners: none

Update README.md
  tools/nft-bridge/README.md
Owners: none

Add forcegaspricegwei to config (#1009)
  common/eth_client.go
  common/flags.go
  eth/ethclient.go
  go.mod
  go.sum
  ops/common.go
Owners: none
