Repository ermyas/sgnv2, changes with the owners that CODEOWNERS names for each.
All owners: @i9, @zhangqi021, @hezhihua81

Sync farming (#689)
  go.mod
  go.sum
  ops/ops.go
  ops/sync_farming.go
  proto/sgn/cbridge/v1/query.proto
  x/cbridge/keeper/getset.go
  x/cbridge/keeper/grpc_querier.go
  x/cbridge/module.go
  x/cbridge/types/query.pb.go
Owners: @zhangqi021, @i9

warn log (#700)
  gateway/svc/cbr_price.go
  gateway/svc/lp.go
  gateway/svc/svr.go
  gateway/svc/transfer.go
Owners: none

peg config check (#696)
  x/pegbridge/keeper/pair_info.go
  x/pegbridge/types/pegbridge.go
  x/pegbridge/types/types.go
Owners: none

refine log
  x/pegbridge/keeper/apply.go
Owners: none

price (#703)
  gateway/dal/chain_token.go
  gateway/dal/dal.go
  gateway/dal/schema.sql
  gateway/svc/token_price_cache.go
Owners: none

not alert for mocked Price (#705)
  gateway/onchain/event_handler.go
  gateway/svc/token_price_cache.go
Owners: none

add moon river proxy (#704)
  go.mod
  go.sum
Owners: none

dal price (#706)
  gateway/dal/dal.go
  gateway/svc/token_price_cache.go
Owners: none

sleep (#708)
  gateway/svc/cbr_price.go
Owners: none

refine transactor (#702)
  Makefile
  ops/sync_farming.go
  test/e2e/manual/localnet.go
  transactor/transactor.go
Owners: none

add-gateway-pegged-fee (#709)
  gateway/dal/chain_token.go
  gateway/dal/schema.sql
  gateway/dal/transfer.go
  gateway/onchain/cbridge.go
  gateway/onchain/event_handler.go
  gateway/onchain/sgn_query.go
  gateway/svc/cs.go
  gateway/svc/transfer.go
  test/multi-node-data/gateway/sgnd/config/cbridge.toml
  x/pegbridge/client/cli/query.go
Owners: none

alert fix (#710)
  gateway/dal/lp.go
  gateway/svc/safeguarding.go
  gateway/utils/slack_util.go
Owners: none

add lyra token usd price (#712)
  explorer/util.go
Owners: none

Add lyar token usd price (#714)
  explorer/util.go
Owners: none

wrap err (#716)
  x/cbridge/keeper/querier.go
Owners: @hezhihua81

Add lyar token usd price (#715)
  explorer/util.go
Owners: none

add boba in explorer (#717)
  explorer/util.go
Owners: none

cli cmd to trigger mint/wd sign (#718)
  x/pegbridge/client/cli/tx.go
Owners: none

Current block (#713)
  gateway/svc/info.go
  gateway/svc/svr.go
  gateway/webapi/gateway.pb.go
  gateway/webapi/gateway.pb.gw.go
  proto/sgn/gateway/v1/gateway.proto
  relayer/cbr_utils.go
Owners: @hezhihua81, @i9

add pegged waiting for fund release status in gateway history (#720)
  gateway/dal/transfer.go
  gateway/svc/transfer.go
Owners: none

Use stored pegged pair info to estimate fees (#719)
  x/pegbridge/keeper/grpc_querier.go
Owners: none

all token api (#721)
  gateway/dal/chain_token.go
  gateway/svc/info.go
  gateway/webapi/gateway.pb.go
  gateway/webapi/gateway.pb.gw.go
  go.mod
  go.sum
  proto/sgn/gateway/v1/gateway.proto
Owners: none

fix get pegged pair (#722)
  x/pegbridge/keeper/grpc_querier.go
Owners: none

add bridge type (#723)
  gateway/dal/transfer.go
Owners: none

Add bridge type (#724)
  gateway/dal/transfer.go
  gateway/onchain/cbridge.go
  gateway/onchain/event_handler.go
  gateway/svc/cs.go
Owners: none

fix mint fee (#725)
  gateway/svc/transfer.go
Owners: none

fix bug - 2nd mint not processed (#726)
  relayer/sgnchain.go
  x/pegbridge/keeper/apply.go
  x/pegbridge/keeper/msg_server.go
  x/pegbridge/types/events.go
Owners: none

refund reason (#728)
  gateway/svc/transfer.go
Owners: none

log (#729)
  gateway/onchain/event_handler.go
Owners: none

logI (#730)
  gateway/onchain/event_handler.go
Owners: none

Fix pegbridge duplicate event checking (#731)
  relayer/pegbr_puller.go
  x/pegbridge/keeper/apply.go
Owners: none

peg: set LastReqTime on entry create (#732)
  go.mod
  go.sum
  x/pegbridge/keeper/apply.go
  x/pegbridge/keeper/msg_server.go
Owners: none

mock domi (#733)
  gateway/dal/dal.go
Owners: none

improve peg query cli
  x/pegbridge/client/cli/query.go
Owners: none

peg: do not emit chainId (#735)
  relayer/sgnchain.go
  x/pegbridge/keeper/apply.go
  x/pegbridge/keeper/msg_server.go
  x/pegbridge/types/events.go
Owners: none

Api for set pegged token icon (#734)
  gateway/dal/chain_token.go
  gateway/svc/config.go
Owners: none

rm useless log (#736)
  gateway/svc/svr.go
Owners: none

rm useless log (#736) (#737)
  gateway/svc/svr.go
Owners: none

blc alert lmt (#738)
  gateway/dal/admin.go
  gateway/dal/schema.sql
  gateway/svc/safeguarding.go
Owners: none

blc alert lmt (#738) (#741)
  gateway/dal/admin.go
  gateway/dal/schema.sql
  gateway/svc/safeguarding.go
Owners: none

CODEOWNERS:

# leading slash / means path from repo root
# if multiple matches, last match will take effect
# keep rules sorted by folder name

/proto/sgn/cbridge/v1/ @i9
/proto/sgn/cbridge/v1/query.proto @zhangqi021

/relayer/cbr_*.go @hezhihua81 @i9

/x/cbridge/ @i9
/x/cbridge/client/ @hezhihua81
x/cbridge/keeper/querier.go @hezhihua81
