Repository ermyas/sgnv2, changes with the owners that CODEOWNERS names for each.
All owners: @i9, @zhangqi021, @hezhihua81

CODEOWNERS:

# leading slash / means path from repo root
# if multiple matches, last match will take effect
# keep rules sorted by folder name

/proto/sgn/cbridge/v1/ @i9
/proto/sgn/cbridge/v1/query.proto @zhangqi021

/relayer/cbr_*.go @hezhihua81 @i9

/x/cbridge/ @i9
/x/cbridge/client/ @hezhihua81
x/cbridge/keeper/querier.go @hezhihua81

working aws kms sign and verify (#384)
  tools/awskms/main.go
Owners: none

Sync go binding based on contract PR 60 (#385)
  eth/bindings.go
  eth/cbr_binding.go
Owners: none

rate limit check (#383)
  proto/sgn/cbridge/v1/cbridge.proto
  x/cbridge/genesis.go
  x/cbridge/keeper/msg_server.go
  x/cbridge/keeper/transfer.go
  x/cbridge/types/cbridge.go
  x/cbridge/types/cbridge.pb.go
Owners: @i9

farming / distribution nits (#386)
  app/app.go
  x/cbridge/keeper/fee_share.go
  x/cbridge/keeper/getset.go
  x/cbridge/keeper/keeper.go
  x/cbridge/keeper/withdraw.go
  x/cbridge/types/expected_keepers.go
  x/distribution/keeper/cbridge_fee_share.go
  x/distribution/keeper/invariants.go
  x/distribution/types/expected_keepers.go
  x/farming/keeper/stake.go
  x/staking/keeper/alias_functions.go
Owners: @i9

gateway write api param check (#382)
  common/utils.go
  gateway/gateway_test.go
  gateway/svc/farming.go
  gateway/svc/lp.go
  gateway/svc/staking.go
  gateway/svc/transfer.go
  gateway/utils/params_check.go
Owners: none

Distribution fix (#389)
  x/distribution/keeper/cbridge_fee_share.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/msg_server.go
  x/distribution/keeper/reward.go
  x/staking/keeper/delegation.go
Owners: none

rm slippage setting api (#390)
  gateway/dal/schema.sql
  gateway/dal/transfer.go
  gateway/gateway_test.go
  gateway/svc/info.go
  gateway/svc/lp.go
  gateway/svc/transfer.go
  gateway/webapi/gateway.pb.go
  gateway/webapi/gateway.pb.gw.go
  proto/sgn/gateway/v1/gateway.proto
Owners: none

Remove EnumsAsInts from gateway jsonpb config (#391)
  gateway/gateway.go
Owners: none

update (#388)
  cmd/sgnd/envoy.yaml
  cmd/sgnd/nginx.conf
Owners: none

add safeguarding api (#392)
  gateway/svc/info.go
  gateway/utils/params_check.go
  gateway/webapi/gateway.pb.go
  gateway/webapi/gateway.pb.gw.go
  proto/sgn/cbridge/v1/query.proto
  proto/sgn/gateway/v1/gateway.proto
  x/cbridge/client/cli/query.go
  x/cbridge/keeper/querier.go
  x/cbridge/types/querier.go
  x/cbridge/types/query.pb.go
Owners: @zhangqi021, @hezhihua81, @i9

refine Safeguarding api (#393)
  gateway/gateway.go
  gateway/svc/info.go
  gateway/webapi/gateway.pb.go
  gateway/webapi/gateway.pb.gw.go
  proto/sgn/gateway/v1/gateway.proto
Owners: none

Remove placeholder validator hack (#394)
  x/distribution/keeper/hooks.go
  x/staking/keeper/delegation.go
  x/sync/keeper/apply.go
  x/sync/types/expected_keepers.go
Owners: none

use kms signer (#387)
  eth/ethclient.go
  go.mod
  go.sum
  ops/common.go
  relayer/cbridge.go
Owners: none

add debug logs (#396)
  gateway/svc/farming.go
  gateway/svc/info.go
  gateway/svc/lp.go
Owners: none

Safeguarding api (#397)
  gateway/svc/info.go
  gateway/svc/lp.go
Owners: none

Include actual error in message (#398)
  x/cbridge/keeper/keeper.go
Owners: @i9

withdraw binding (#399)
  eth/cbr_binding.go
  proto/sgn/cbridge/v1/cbridge.proto
  x/cbridge/keeper/withdraw.go
  x/cbridge/types/cbridge.pb.go
  x/staking/genesis.go
Owners: @i9

update cbr transfer logs (#400)
  x/cbridge/keeper/algos.go
  x/cbridge/keeper/apply.go
  x/cbridge/keeper/querier.go
  x/cbridge/keeper/transfer.go
  x/cbridge/keeper/withdraw.go
Owners: @i9, @hezhihua81

Fix farming unstake and error shadowing (#401)
  x/cbridge/keeper/keeper.go
  x/farming/keeper/stake.go
Owners: @i9

multinode cbridge event cleanup (#402)
  ops/sync.go
  relayer/cbr_puller.go
  relayer/cbr_verifier.go
Owners: @hezhihua81, @i9

modify envoy (#395)
  cmd/sgnd/envoy.yaml
Owners: none

cmp chain token in lp list (#404)
  gateway/svc/info.go
Owners: none

Order lp list with chain and token with asc (#405)
  gateway/svc/info.go
Owners: none

log if re-apply liqadd or send (#406)
  x/cbridge/keeper/apply.go
Owners: @i9

Defer applying delegation if validator not synced (#407)
  x/sync/keeper/apply.go
Owners: none

Enable gRPC-web in Cosmos SDK and Dockerfile (#408)
  Dockerfile
  docker-compose.yml
  docs/sgnd/sgnd_ops.md
  docs/sgnd/sgnd_ops_sync.md
  docs/sgnd/sgnd_ops_sync_event.md
  docs/sgnd/sgnd_ops_sync_staking.md
  docs/sgnd/sgnd_query_distribution.md
  docs/sgnd/sgnd_query_distribution_cbridge-fee-share-info.md
  docs/sgnd/sgnd_query_distribution_commission.md
  docs/sgnd/sgnd_query_distribution_rewards.md
  docs/sgnd/sgnd_query_distribution_slashes.md
  docs/sgnd/sgnd_query_distribution_staking-reward-claim-info.md
  docs/sgnd/sgnd_query_distribution_staking-reward-info.md
  docs/sgnd/sgnd_query_distribution_validator-outstanding-rewards.md
  docs/sgnd/sgnd_query_farming.md
  docs/sgnd/sgnd_query_staking_delegator-delegations.md
  docs/sgnd/sgnd_query_staking_validator-delegations.md
  docs/sgnd/sgnd_start.md
  test/data/.sgnd/config/app.toml
  test/multi-node-data/node0/sgnd/config/app.toml
  test/multi-node-data/node1/sgnd/config/app.toml
  test/multi-node-data/node2/sgnd/config/app.toml
  test/multi-node-data/node3/sgnd/config/app.toml
Owners: none

base fee (#409)
  gateway/svc/transfer.go
  x/cbridge/keeper/querier.go
Owners: @hezhihua81

Add grpc web (#410)
  cmd/sgnd/envoy.yaml
  cmd/sgnd/nginx.conf
  docker-compose.yml
  gateway/gateway.go
  go.mod
Owners: none

Add grpc web (#411)
  cmd/sgnd/nginx.conf
Owners: none

nit fixes
  gateway/fee/token_price_cache.go
  relayer/cbr_verifier.go
  x/cbridge/client/cli/query.go
Owners: @hezhihua81, @i9

handle validator signer update (#413)
  test/common/eth.go
  test/e2e/multinode/cbridge_test.go
  test/e2e/multinode/multinode_setup.go
  x/sync/keeper/apply.go
Owners: none

lp rand (#403)
  x/cbridge/keeper/apply.go
Owners: @i9

fix withdraw lp [merge only before next all-nodes upgrade] (#412)
  proto/sgn/cbridge/v1/tx.proto
  test/e2e/multinode/cbridge_test.go
  x/cbridge/keeper/apply.go
  x/cbridge/keeper/withdraw.go
Owners: @i9

Staking campaign data (#414)
  gateway/dal/admin.go
  gateway/gateway_test.go
  gateway/svc/campaign.go
  gateway/svc/staking.go
  gateway/svc/svr.go
  gateway/webapi/gateway.pb.go
  gateway/webapi/gateway.pb.gw.go
  go.mod
  go.sum
  proto/sgn/gateway/v1/gateway.proto
Owners: none

Fee share fixes (#416)
  test/common/cbr_eth.go
  test/common/cbr_sgn.go
  test/common/framework.go
  test/e2e/multinode/cbridge_test.go
  test/e2e/multinode/multinode_setup.go
  test/e2e/singlenode/staking_test.go
  x/cbridge/keeper/withdraw.go
  x/distribution/client/cli/query.go
  x/distribution/keeper/grpc_querier.go
  x/farming/keeper/grpc_querier.go
  x/sync/keeper/apply.go
Owners: @i9

sync: Use CacheContext and handle panics (#417)
  x/sync/keeper/apply.go
Owners: none

Added some newbie-friendly instructions for test readme (#374)
  test/e2e/manual/docs/fullstack.md
Owners: none

update doc
  go.mod
  go.sum
  test/e2e/manual/docs/fullstack.md
Owners: none

reduce price check error (#419)
  gateway/dal/chain_token.go
  gateway/fee/token_price_cache.go
  gateway/svc/cbr_price.go
  gateway/svc/config.go
  relayer/cbr_price_puller.go
Owners: @hezhihua81, @i9

Handle newton's method fail cases (#418)
  x/cbridge/keeper/algos.go
  x/cbridge/keeper/algos_test.go
Owners: @i9
