Repository ermyas/sgnv2, changes with the owners that CODEOWNERS names for each.
All owners: @i9, @zhangqi021, @hezhihua81

CODEOWNERS:

# leading slash / means path from repo root
# if multiple matches, last match will take effect
# keep rules sorted by folder name

/proto/sgn/cbridge/v1/ @i9
/proto/sgn/cbridge/v1/query.proto @zhangqi021

/relayer/cbr_*.go @hezhihua81 @i9

/x/cbridge/ @i9
/x/cbridge/client/ @hezhihua81
x/cbridge/keeper/querier.go @hezhihua81

refact_submit_relay_cli (#479)
  ops/ops.go
  ops/submit_relay.go
  ops/sync.go
Owners: none

relay process by chain (#480)
  relayer/cbr_onchain.go
  relayer/cbr_puller.go
  relayer/cbridge.go
  relayer/keys.go
  relayer/relayer.go
  relayer/sgnchain.go
Owners: @hezhihua81, @i9

Update configs and fix typos (#478)
  relayer/cbr_puller.go
  test/data/.sgnd/config/app.toml
  test/data/.sgnd/config/cbridge.toml
  test/data/.sgnd/config/config.toml
  test/multi-node-data/node0/sgnd/config/app.toml
  test/multi-node-data/node0/sgnd/config/cbridge.toml
  test/multi-node-data/node0/sgnd/config/config.toml
  test/multi-node-data/node1/sgnd/config/app.toml
  test/multi-node-data/node1/sgnd/config/cbridge.toml
  test/multi-node-data/node1/sgnd/config/config.toml
  test/multi-node-data/node2/sgnd/config/app.toml
  test/multi-node-data/node2/sgnd/config/cbridge.toml
  test/multi-node-data/node2/sgnd/config/config.toml
  test/multi-node-data/node3/sgnd/config/app.toml
  test/multi-node-data/node3/sgnd/config/cbridge.toml
  test/multi-node-data/node3/sgnd/config/config.toml
  tools/cbridge/cmd/owner.go
  tools/cbridge/manual_test_cbridge.toml
  x/cbridge/keeper/algos.go
Owners: @hezhihua81, @i9

not update 0 amt to db (#481)
  gateway/svc/lp.go
Owners: none

parallel verify (#482)
  relayer/verifier.go
Owners: none

Add StakingScaleFactor for small reward decimals (#483)
  common/constants.go
  go.mod
  go.sum
  ops/common.go
  proto/sgn/distribution/v1/distribution.proto
  proto/sgn/distribution/v1/genesis.proto
  proto/sgn/distribution/v1/query.proto
  test/data/.sgnd/config/genesis.json
  test/e2e/manual/localnet.go
  test/e2e/multinode/cbridge_test.go
  test/e2e/multinode/multinode_setup.go
  test/e2e/multinode/staking_test.go
  test/multi-node-data/node0/sgnd/config/genesis.json
  test/multi-node-data/node1/sgnd/config/genesis.json
  test/multi-node-data/node2/sgnd/config/genesis.json
  test/multi-node-data/node3/sgnd/config/genesis.json
  x/cbridge/keeper/getset.go
  x/distribution/client/cli/query.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/genesis.go
  x/distribution/keeper/grpc_querier.go
  x/distribution/keeper/hooks.go
  x/distribution/keeper/invariants.go
  x/distribution/keeper/legacy_querier.go
  x/distribution/keeper/store.go
  x/distribution/keeper/validator.go
  x/distribution/types/distribution.pb.go
  x/distribution/types/genesis.go
  x/distribution/types/genesis.pb.go
  x/distribution/types/keys.go
  x/distribution/types/legacy_querier.go
  x/distribution/types/query.pb.go
  x/distribution/types/query.pb.gw.go
  x/distribution/types/validator.go
  x/farming/keeper/calc.go
Owners: @i9

refine cbr cli
  x/cbridge/client/cli/query.go
  x/cbridge/keeper/querier.go
  x/cbridge/types/querier.go
Owners: @hezhihua81, @i9

refine log level
  relayer/cbr_onchain.go
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

update goutils (#486)
  eth/ethclient.go
  go.mod
  go.sum
  ops/common.go
  relayer/cbridge.go
Owners: none

update log
  relayer/cbr_onchain.go
Owners: @hezhihua81, @i9

fix signer update (#487)
  proto/sgn/cbridge/v1/tx.proto
  relayer/cbr_puller.go
  test/data/.sgnd/config/genesis.json
  test/e2e/manual/docs/fullstack.md
  test/e2e/manual/localnet.go
  test/multi-node-data/node0/sgnd/config/genesis.json
  test/multi-node-data/node1/sgnd/config/genesis.json
  test/multi-node-data/node2/sgnd/config/genesis.json
  test/multi-node-data/node3/sgnd/config/genesis.json
  x/cbridge/client/cli/tx.go
  x/cbridge/handler.go
  x/cbridge/keeper/hooks.go
  x/cbridge/keeper/msg_server.go
  x/cbridge/keeper/params.go
  x/cbridge/keeper/signers.go
  x/cbridge/types/msg.go
  x/cbridge/types/tx.pb.go
  x/distribution/keeper/hooks.go
  x/staking/keeper/hooks.go
  x/staking/keeper/validator.go
  x/staking/types/expected_keepers.go
  x/staking/types/hooks.go
  x/sync/keeper/apply.go
Owners: @i9, @hezhihua81

update cbr puller (#488)
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

update relayer log
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

relax oracle check
  relayer/cbr_price_puller.go
Owners: @hezhihua81, @i9

improve cbr relay, remove unnecessary chainId rpc query
  relayer/cbr_onchain.go
  relayer/cbr_puller.go
  relayer/cbr_utils.go
  relayer/cbr_verifier.go
  relayer/cbridge.go
  relayer/sgnchain.go
Owners: @hezhihua81, @i9

newrand source, use map for faster check (#485)
  x/cbridge/keeper/algos.go
Owners: @i9

no more eth config override cbridge (#489)
  ops/common.go
  relayer/cbridge.go
Owners: none

refine log
  relayer/cbr_puller.go
Owners: @hezhihua81, @i9

apy refine (#491)
  gateway/gateway.go
  gateway/gateway_test.go
  gateway/svc/info.go
  gateway/svc/svr.go
  gateway/utils/match_util.go
Owners: none

not fail (#493)
  gateway/svc/lp.go
Owners: none

Fix wd fail (#494)
  gateway/svc/lp.go
Owners: none

delete relay event by srcxferid (#495)
  relayer/cbr_onchain.go
Owners: @hezhihua81, @i9

relay msg sign again (#490)
  gateway/svc/lp.go
  gateway/svc/transfer.go
  proto/sgn/cbridge/v1/cbridge.proto
  proto/sgn/cbridge/v1/tx.proto
  test/data/.sgnd/config/genesis.json
  test/multi-node-data/node0/sgnd/config/genesis.json
  test/multi-node-data/node1/sgnd/config/genesis.json
  test/multi-node-data/node2/sgnd/config/genesis.json
  test/multi-node-data/node3/sgnd/config/genesis.json
  x/cbridge/client/cli/query.go
  x/cbridge/client/cli/tx.go
  x/cbridge/keeper/apply.go
  x/cbridge/keeper/getset.go
  x/cbridge/keeper/msg_server.go
  x/cbridge/keeper/querier.go
  x/cbridge/types/cbridge.pb.go
  x/cbridge/types/msg.go
  x/cbridge/types/tx.pb.go
Owners: @i9, @hezhihua81

fix use of timestamp
  common/utils.go
  gateway/svc/lp.go
  gateway/svc/transfer.go
  relayer/cbr_price_puller.go
  relayer/eth_staking.go
  x/cbridge/client/cli/query.go
  x/cbridge/keeper/msg_server.go
Owners: @hezhihua81, @i9

fix panic (#497)
  gateway/svc/info.go
Owners: none

Cs (#498)
  gateway/dal/schema.sql
  gateway/dal/transfer.go
  gateway/svc/cs.go
  gateway/webapi/gateway.pb.go
  go.mod
  go.sum
  proto/sgn/gateway/v1/gateway.proto
Owners: none

fix panic (#499)
  gateway/svc/cs.go
  gateway/svc/lp.go
Owners: none

Cs (#500)
  gateway/dal/transfer.go
Owners: none

cs tools: change resubmit to resign tools (#501)
  gateway/svc/cs.go
Owners: none

warn log (#504)
  relayer/cbr_onchain.go
  relayer/cbr_utils.go
Owners: @hezhihua81, @i9

Cs (#503)
  gateway/svc/cs.go
  gateway/webapi/gateway.pb.go
  ops/ops.go
  proto/sgn/gateway/v1/gateway.proto
Owners: none

Cs log (#505)
  gateway/svc/cs.go
  gateway/svc/lp.go
  gateway/svc/transfer.go
Owners: none

fix cs tool (#506)
  gateway/svc/cs.go
Owners: none

max out amount check (#507)
  go.mod
  go.sum
  proto/sgn/cbridge/v1/cbridge.proto
  proto/sgn/cbridge/v1/tx.proto
  x/cbridge/keeper/transfer.go
  x/cbridge/keeper/withdraw.go
  x/cbridge/types/cbridge.pb.go
  x/cbridge/types/tx.pb.go
Owners: @i9

fix max out amt
  x/cbridge/keeper/msg_server.go
  x/cbridge/keeper/querier.go
  x/cbridge/keeper/withdraw.go
Owners: @i9, @hezhihua81

Fix cs tool (#508)
  cmd/sgnd/nginx.conf
  gateway/svc/cs.go
  gateway/svc/svr.go
  gateway/svc/transfer.go
  gateway/utils/params_check.go
Owners: none

incentive_reward_bindings.go (#509)
  proto/sgn/cbridge/v1/cbridge.proto
  test/data/.sgnd/config/genesis.json
  test/multi-node-data/node0/sgnd/config/genesis.json
  test/multi-node-data/node1/sgnd/config/genesis.json
  test/multi-node-data/node2/sgnd/config/genesis.json
  test/multi-node-data/node3/sgnd/config/genesis.json
Owners: @i9

default (#510)
  cmd/sgnd/nginx.conf
Owners: none

add log (#511)
  gateway/svc/cs.go
Owners: none

Refine cs (#512)
  gateway/dal/transfer.go
  gateway/svc/cs.go
Owners: none
